{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load i18n static core_settings_data crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Search tickets" %}</h2>
                <ul class="nav ml-auto panel_toolbox">
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <!--Center side: results-->
                <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                    <div class="table">
                        {% include 'society_manager/includes/ticket_datatable.html' %}
                    </div>
                </div>

                <!--Left side: criteria-->
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            {{ tickets_filter.form.assigned_company|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.subject|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.body|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.comment|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.assigned_state|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.create_user|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.assigned_user|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ tickets_filter.form.active_member|as_crispy_field }}
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-group">
                            <div class="clearfix"></div>
                            <div class="col-12">
                                <button
                                    type="submit"
                                    id="search-btn"
                                    class="btn btn-sm btn-success btn-block"
                                    style="margin-top: 15px;"
                                    data-url="{% url 'society_manager:search' %}"
                                >{% trans "Search" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
