{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-create-member-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Create membership" %}</h4>
            </div>
            <div class="modal-body">
                <h4>{% trans "Warning!" %}</h4>
                {% blocktrans %}
                <p>You're about to add this prospect as a member.</p>
                <p><b>Are you sure you want to add this prospect to the members list?</b></p>
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <button
                    href="{% url 'society_manager:tickets-auto-create' %}"
                    class="request-ok btn btn-danger btn-sm"
                    type="button"
                >{% trans "Yes, create!" %}</button>
            </div>
        </div>
    </div>
</div>
