{% extends 'society_manager/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load static i18n core_settings_data blog_tags %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>{% trans "List of prospects" %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table">
                    <table
                        id="dataTables-prospects"
                        class="table table-striped jambo_table nowrap"
                        cellspacing="0"
                        width="100%"
                    >
                        <thead>
                            <tr class="headings">
                                <th></th>
                                <th></th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "prospect_name_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "additional_name_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "contact_title_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "contact_last_name_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "contact_first_name_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "country_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "zipcode_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "location_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "address_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "email_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "mobile_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "phone_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "fax_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "labels_field" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
