{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static string_extensions core_settings_data crispy_forms_tags %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block title %}
{% trans "Prospective Company" %}: {{ form_prospect.instance.name }}
{% endblock %}

{% block content %}

<!--All the rest-->
<div class="x_panel">
    <div class="x_title">
        <h2>{{ form_prospect.instance.name }}</h2>
        {% if can_edit %}
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            href="{% url 'society_manager:prospects-edit' form_prospect.instance.id %}"
        >
            {% trans "Edit" %}</a>
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            href="{% url 'society_manager:prospects-export' form_prospect.instance.id %}"
        >
            {% trans "PDF Export" %}</a>
        {% endif %}
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-left: 5px"
            href="{% url 'society_manager:prospects-list' %}"
        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div
            class=""
            role="tabpanel"
            data-example-id="togglable-tabs"
        >
            <ul
                id="myTab"
                class="nav nav-tabs bar_tabs"
                role="tablist"
            >
                <li
                    role="presentation"
                    class="nav-item active"
                ><a
                        href="#tab_content1"
                        id="main-tab"
                        role="tabpanel"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Main" %}</a>
                </li>
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content2"
                        role="tabpanel"
                        id="payment-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Payment data" %}</a>
                </li>
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content3"
                        role="tabpanel"
                        id="comments-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Comments data" %}</a>
                </li>

                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content4"
                        role="tabpanel"
                        id="attachments-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Uploaded files" %}</a>
                </li>
            </ul>

            <div
                id="myTabContent"
                class="tab-content"
            >
                <div
                    role="tabpanel"
                    class="tab-pane fade active in"
                    id="tab_content1"
                    aria-labelledby="main-tab"
                >
                    <div class="row">
                        <!--Status-->
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        </div>
                        <!-- /Status -->
                        <!-- Body -->
                        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                            {% crispy form_prospect %}
                        </div>
                        <!-- /Body -->
                    </div>

                    <div class="col-12 form-group">
                        <div class="ln_solid"></div>
                    </div>
                </div>

                <div
                    role="tabpanel"
                    class="tab-pane fade"
                    id="tab_content2"
                    aria-labelledby="payment-tab"
                >
                    <div class="row">
                        <!--Status-->
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        </div>
                        <!-- /Status -->
                        <!-- Body -->
                        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                            {% include 'society_manager/includes/prospect_payment_readonly_form.html' %}
                        </div>
                        <!-- /Body -->
                    </div>
                </div>

                <div
                    role="tabpanel"
                    class="tab-pane fade"
                    id="tab_content3"
                    aria-labelledby="comments-tab"
                >
                    <div class="row">
                        <!--Status-->
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        </div>
                        <!-- /Status -->
                        <!-- Body -->
                        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                            {% if form_prospect.instance.id %}
                            <div class="col-sm-12 comment_box form-group">
                                {% for comm in actual_comments %}
                                <div
                                    class="row"
                                    id="comment"
                                >
                                    <div class="col-sm-1">

                                        {% if comm.user_rel.avatar %}
                                        <img
                                            alt="Avatar"
                                            class="avatar"
                                            src="{{ comm.user_rel.avatar.url }}"
                                        >
                                        {% else %}
                                        <img
                                            alta="Avatar"
                                            class="avatar"
                                            src="{% static 'society_manager/img/user.png' %}"
                                        >
                                        {% endif %}

                                    </div><!-- /col-sm-1 -->

                                    <div class="col-sm-11">
                                        <div class="card card-default">
                                            <div class="card-header">
                                                <strong>{{ comm.user_rel.username }}</strong>
                                                <span class="text-muted">
                                                    {% trans "commented on" %} {{ comm.created|localize }} in Ticket
                                                    <a href="{% url 'society_manager:tickets-view' comm.ticket_rel.id %}">#{{ comm.ticket_rel.nr }}</a>
                                                </span>
                                                <span class="feature-icon" aria-hidden="true">
                                                    {% if comm.is_private %} <i class="fa fa-eye-slash"></i> {% else %} <i class="fa fa-eye"></i> {% endif %}
                                                </span>
                                                <input
                                                    type="hidden"
                                                    id="idPMessage"
                                                    name="idPMessage"
                                                    value="{{ comm.id }}"
                                                >
                                            </div>
                                            <div class="card-body">
                                                <div class="content-markdown-old">
                                                    {{ comm.comment }}
                                                </div>
                                            </div><!-- /card-body -->
                                        </div><!-- /card card-default -->
                                    </div><!-- /col-sm-5 -->
                                </div><!-- /row -->
                                {% empty %}
                                <br />
                                <p>{% trans "No comments available." %}</p>
                                {% endfor %}
                            </div><!-- /container -->
                            {% endif %}
                        </div>
                        <!-- /Body -->
                    </div>
                </div>

                <div
                    role="tabpanel"
                    class="tab-pane fade"
                    id="tab_content4"
                    aria-labelledby="attachments-tab"
                >
                    <div class="row">
                        <!--Status-->
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        </div>
                        <!-- /Status -->
                        <!-- Body -->
                        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                            {% include 'society_manager/includes/ticket_attachments.html' %}
                        </div>
                        <!-- /Body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
