/* Why do not i implement CSS variables...
/* https://developer.microsoft.com/en-us/microsoft-edge/platform/status/cssvariables

/** To define the sidebar width
/** search for 'sidebar' comments

@charset 'UTF-8'

$font-size: 1rem

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

.page-wrapper
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%

.left_col
  background: #2a3f54

// .right_col
//   height: 100%

.nav-sm
  .container.body .col-md-3.left_col
    width: 70px
    padding: 0
    // z-index: 9999
    position: absolute

    &.menu_fixed
      position: fixed
      height: 100%

    .mCSB_container, .mCustomScrollBox
      overflow: visible

  .hidden-small
    visibility: hidden

  .container.body .right_col
    padding: 10px 20px
    margin-left: 70px
    z-index: 2

  .navbar.nav_title
    width: 70px
    height: 55px

    a
      span
        display: none

      i
        font-size: $font-size * 1.25
        margin: 13px 0 0 3px

.site_title i
  border: 1px solid #eaeaea
  padding: 5px 6px
  border-radius: 50%

.nav-sm
  .main_container .top_nav
    display: block
    margin-left: 70px
    z-index: 2

  .nav
    &.side-menu li a
      text-align: center !important
      font-weight: 400
      font-size: $font-size * 0.625
      padding: 10px 5px

    &.child_menu li.active, &.side-menu li.active-sm
      border-right: 5px solid #1abb9c

  ul.nav.child_menu ul
    position: static
    width: 200px
    background: none

  .nav.side-menu li
    &.active-sm ul ul
      position: static
      width: 200px
      background: none

    a i
      &.toggle-up
        display: none !important

      font-size: ($font-size * 1.25) !important
      text-align: center
      width: 100% !important
      margin-bottom: 5px

  > .nav.side-menu > li.active-sm > a
    color: #1abb9c !important

  ul.nav.child_menu
    left: 100%
    position: absolute
    top: 0
    width: 210px
    z-index: 4000
    background: #3e5367
    display: none

    li
      padding: 0 10px

      a
        text-align: left !important

  .profile
    display: none

.menu_section
  margin-bottom: 35px

  h3
    padding-left: 23px
    color: #fff
    text-transform: uppercase
    letter-spacing: 0.5px
    font-weight: bold
    font-size: $font-size * 0.6875
    margin-bottom: 0
    margin-top: 0
    text-shadow: 1px 1px #000

  > ul
    margin-top: 10px

.profile_pic
  width: 35%
  float: left

.rounded-circle.profile_img
  width: 70%
  background: #fff
  margin-left: 15%
  z-index: 1000
  position: inherit
  margin-top: 20px
  border: 1px solid rgba(52, 73, 94, 0.44)
  padding: 4px

.profile_info
  padding: 25px 10px 10px
  width: 65%
  float: left

  span
    font-size: $font-size * 0.8125
    line-height: $font-size * 1.875
    color: #bab8b8

  h2
    font-size: $font-size * 0.875
    color: #ecf0f1
    margin: 0
    font-weight: 300

.profile.img_2
  text-align: center

  .profile_pic
    width: 100%

    .rounded-circle.profile_img
      width: 50%
      margin: 10px 0 0

  .profile_info
    padding: 15px 10px 0
    width: 100%
    margin-bottom: 10px
    float: left

.main_menu span.fa
  float: right
  text-align: center
  margin-top: 5px
  font-size: $font-size * 0.625
  min-width: inherit
  color: #c4cfda

.active a span.fa
  text-align: right !important
  margin-right: 4px

.nav-sm
  .menu_section
    margin: 0

  span.fa, .menu_section h3
    display: none

  li li span.fa
    display: inline-block

.nav_menu
  float: left
  background: #ededed
  border-bottom: 1px solid #d9dee4
  margin-bottom: 10px
  width: 100%
  position: relative

/*sidebar
@media (min-width: 480px)
  .nav_menu
    position: static

.nav-md .container.body .col-md-3.left_col
  width: 200px
  padding: 0
  position: absolute
  display: -ms-flexbox
  display: flex
  // z-index: 9999

  &.menu_fixed
    height: 100%
    position: fixed

body .container.body
  min-width: 100%

  .right_col
    background: #f7f7f7

/*main container

.nav-md .container.body .right_col
  padding: 10px 20px 0
  margin-left: 200px

.nav_title
  width: 200px
  height: 150px
  float: left
  background: #2a3f54
  border-radius: 0

@media (max-width: 991px)
  .x_title
    h2
      font-size: $font-size * 1.25

    span h4
      margin-top: 8px !important

  .nav-md .container.body
    .right_col, .top_nav
      width: 100%
      margin: 0

    .col-md-3.left_col
      display: none

    .right_col
      width: 100%
      padding-right: 0

  .right_col
    padding: 10px !important

@media (max-width: 576px)
  .x_title span h4
      margin-top: 4px !important

@media (max-width: 1200px)
  .tile, .graph
    zoom: 85%
    height: inherit

@media (max-width: 1270px) and (min-width: 192px)
  .x_title h2 small
    display: none

.left_col
  .mCSB_scrollTools
    width: 6px

  .mCSB_dragger
    max-height: 400px !important

/**  ------------------------------------------

.blue
  color: #3498db

.purple
  color: #9b59b6

.green
  color: #1abb9c

.aero
  color: #9cc2cb

.red
  color: #e74c3c

.dark
  color: #34495e

.border-blue
  border-color: #3498db !important

.border-purple
  border-color: #9b59b6 !important

.border-green
  border-color: #1abb9c !important

.border-aero
  border-color: #9cc2cb !important

.border-red
  border-color: #e74c3c !important

.border-dark
  border-color: #34495e !important

.bg-white
  background: #fff !important
  border: 1px solid #fff !important
  color: #73879c

.bg-green
  background: #1abb9c !important
  border: 1px solid #1abb9c !important
  color: #fff

.bg-red
  background: #e74c3c !important
  border: 1px solid #e74c3c !important
  color: #fff

.bg-blue
  background: #3498db !important
  border: 1px solid #3498db !important
  color: #fff

.bg-orange
  background: #f39c12 !important
  border: 1px solid #f39c12 !important
  color: #fff

.bg-purple
  background: #9b59b6 !important
  border: 1px solid #9b59b6 !important
  color: #fff

.bg-blue-sky
  background: #50c1cf !important
  border: 1px solid #50c1cf !important
  color: #fff

.container
  width: 100%
  padding: 0 !important
  margin: 0 !important

.navbar-nav > li > a, .navbar-brand, .navbar-nav > li > a
  color: #fff !important

.top_nav .nav
  > li.nav-item > a
    &:focus, &:hover
      background: #d9dee4

  .open > a
    background: #d9dee4

    &:focus, &:hover
      background: #d9dee4

body
  color: #73879c
  background: #2a3f54
  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif
  font-size: $font-size * 0.8125
  font-weight: 400
  line-height: 1.471

/*sidebar

.main_container
  .top_nav
    display: block
    margin-left: 200px

  min-width: 100%

.no-padding
  padding: 0 !important

.page-title
  width: 100%
  height: 65px
  padding: 10px 0

  .title_left
    width: 45%
    float: left
    display: block

    h3
      margin: 9px 0

  .title_right
    width: 55%
    float: left
    display: block

    .float-right
      margin: 10px 0

.fixed_height_320
  height: 320px

.fixed_height_390
  height: 390px

.fixed_height_200
  height: 200px

.overflow_hidden
  overflow: hidden

.bg-dark
  background-color: #34495e !important

.bg-gray
  background-color: #bdc3c7 !important

table.no-margin .progress
  margin-bottom: 0

.main_content
  padding: 10px 20px

.col-md-55
  width: 50%
  margin-bottom: 10px

@media (min-width: 768px)
  .col-md-55
    width: 20%

@media (min-width: 992px)
  .col-md-55
    width: 20%

@media (min-width: 1200px)
  .col-md-55
    width: 20%

@media (min-width: 192px) and (max-width: 1270px)
  table.tile_info span.right
    margin-right: 7px
    float: left

.center-margin
  margin: 0 auto
  float: none !important

.col-md-55, .col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12
  position: relative
  min-height: 1px
  float: left
  padding-right: 10px
  padding-left: 10px

.row
  display: block !important
  margin-right: -10px
  margin-left: -10px

.grid_slider .col-md-6
  padding: 0 40px

h1, .h1, h2, .h2, h3, .h3
  margin-top: 10px
  margin-bottom: 10px

a
  color: #5a738e
  text-decoration: none
  outline: 0

  &:visited, &:focus, &:active
    outline: 0

\:visited, :focus, :active
  outline: 0

.btn
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus
    outline: 0

a
  &:hover, &:focus
    text-decoration: none

.navbar
  margin-bottom: 0

.navbar-header
  background: #34495e

.ml-auto
  margin-right: 0

.top_nav
  .ml-auto
    margin: 0
    float: right

    li
      display: inline-block
      float: right
      position: static

  .dropdown-menu li
    width: 100%

    a
      display: block
      width: 100%
      padding: 13px 15px 12px

  li a i
    font-size: $font-size * 0.9375

@media (min-width: 480px)
  .top_nav .ml-auto li
    position: relative

.navbar-static-top
  position: fixed
  top: 0
  width: 100%

.sidebar-header
  border-bottom: 0
  margin-top: 46px

  &:first-of-type
    margin-top: 0

.nav
  &.side-menu > li
    position: relative
    display: block
    cursor: pointer
    width: 100%

    > a
      margin-bottom: 6px

      &:hover
        color: #f2f5f7 !important
        text-decoration: none
        background: transparent

  > li.nav-item > a:focus
    text-decoration: none
    background: transparent

  &.child_menu
    display: none

    li
      &:hover, &.active
        background-color: rgba(255, 255, 255, 0.06)

      padding-left: 36px
      padding-top: 5px

.nav-md ul.nav.child_menu li
  &:before
    background: #425668
    bottom: auto
    content: ''
    height: 8px
    left: 23px
    margin-top: 5px
    position: absolute
    right: auto
    width: 8px
    z-index: 1
    border-radius: 50%

  &:after
    border-left: 1px solid #425668
    bottom: 0
    content: ''
    left: 27px
    position: absolute
    top: 0

.nav
  &.side-menu > li > a
    color: #e7e7e7
    font-weight: 500

  &.child_menu
    > li > a
      color: #e7e7e7
      font-weight: 500

    li li
      &:hover, &.active
        background: none

      a
        &:hover, &.active
          color: #fff

  > li.nav-item > a
    position: relative
    display: block
    padding: 13px 15px 12px

  &.side-menu > li
    &.current-page, &.active
      border-right: 5px solid #1abb9c

  li
    &.current-page
      background: rgba(255, 255, 255, 0.05)

    li
      li.current-page
        background: none

      &.current-page a
        color: #fff

  &.side-menu > li.active > a
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0
    background: linear-gradient(#334556, #2c4257), #2a3f54
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0

.navbar-brand, .navbar-nav > li > a
  font-weight: 500
  color: #ecf0f1 !important
  margin-left: 0 !important

/*  line-height: $font-size * 2;

.site_title
  text-overflow: ellipsis
  overflow: hidden
  font-weight: 400
  font-size: $font-size * 1.375
  width: 100%
  color: #ecf0f1 !important
  margin-left: 0 !important
  line-height: $font-size * 3.688
  display: block
  height: 55px
  margin: 0
  padding-left: 10px

  &:hover, &:focus
    text-decoration: none

.nav
  flex-direction: row

  &.navbar-nav > li > a
    color: #515356 !important

  &.top_menu > li > a
    position: relative
    display: block
    padding: 10px 15px
    color: #34495e !important

  > li.nav-item > a
    &:hover, &:focus
      background-color: transparent

.top_search
  padding: 0

  .form-control
    border-right: 0
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075)
    border-radius: 25px 0px 0px 25px
    padding-left: 20px
    border: 1px solid rgba(221, 226, 232, 0.49)

    &:focus
      border: 1px solid rgba(221, 226, 232, 0.49)
      border-right: 0

  .input-group-append button
    border-radius: 0px 25px 25px 0px
    border: 1px solid rgba(221, 226, 232, 0.49)
    border-left: 0
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    color: #93a2b2
    margin-bottom: 0 !important

.toggle
  float: left
  margin: 0
  width: 70px

  a
    padding: 15px 15px 0
    margin: 0
    cursor: pointer

    i
      font-size: $font-size * 1.625

.nav.child_menu > li > a
  color: rgba(255, 255, 255, 0.75)
  font-size: $font-size * 0.75
  padding: 9px

.panel_toolbox
  float: right
  min-width: 70px

  > li
    float: left
    cursor: pointer

    > a
      padding: 5px
      color: #c5c7cb
      font-size: $font-size * 0.875

      &:hover
        background: #f5f7fa

.line_30
  line-height: $font-size * 1.875

.main_menu_side
  padding: 0

.bs-docs-sidebar .nav > li.nav-item > a
  display: block
  padding: 4px 6px

footer
  background: #fff
  padding: 15px 20px
  display: block

.nav-sm footer
  margin-left: 70px

.footer_fixed footer
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%

@media (min-width: 768px)
  .footer_fixed footer
    margin-left: 0

@media (min-width: 768px)
  .footer_fixed .nav-sm footer
    margin-left: 0

.tile-stats.sparkline
  padding: 10px
  text-align: center

.jqstooltip
  background: #34495e !important
  width: 30px !important
  height: 22px !important
  text-decoration: none

.tooltip
  display: block !important

.tiles
  border-top: 1px solid #ccc
  margin-top: 15px
  padding-top: 5px
  margin-bottom: 0

.tile
  overflow: hidden

.top_tiles
  margin-bottom: 0

  .tile h2
    font-size: $font-size * 1.563
    line-height: 25px
    margin: 3px 0 7px
    font-weight: bold

article.media
  width: 100%

/* *********  custom accordion  ****************************

*
  box-sizing: border-box

  &:before, &:after
    box-sizing: border-box

#integration-list
  width: 100%
  margin: 0 auto
  display: table

  ul
    padding: 0
    margin: 20px 0
    color: #555

    > li
      list-style: none
      border-top: 1px solid #ddd
      display: block
      padding: 15px
      overflow: hidden

    &:last-child
      border-bottom: 1px solid #ddd

    > li:hover
      background: #efefef

.expand
  display: block
  text-decoration: none
  color: #555
  cursor: pointer

  h2
    width: 85%
    float: left

h2
  font-size: $font-size * 1.625
  font-weight: 400

#left, #right
  display: table

#sup
  display: table-cell
  vertical-align: middle
  width: 80%

.detail
  a
    text-decoration: none
    color: #c0392b
    border: 1px solid #c0392b
    padding: 6px 10px 5px
    font-size: $font-size * 0.8125
    margin-right: 7px

  margin: 10px 0 10px 0px
  display: none
  line-height: $font-size * 1.375
  height: 150px

  span
    margin: 0

.right-arrow
  width: 10px
  float: right
  font-weight: bold
  font-size: $font-size * 1.25

.accordion
  .card
    margin-bottom: 5px
    border-radius: 0
    border-bottom: 1px solid #efefef

  .card-header
    background: #f2f5f7
    padding: 13px
    width: 100%
    display: block

  .card:hover
    background: #f2f5f7

.x_panel
  position: relative
  width: 100%
  margin-bottom: 10px
  padding: 10px 17px
  display: inline-block
  background: #fff
  border: 1px solid #e6e9ed
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  opacity: 1
  transition: all 0.2s ease

.x_title
  border-bottom: 2px solid #e6e9ed
  padding: 1px 5px 6px
  margin-bottom: 10px

  .filter
    width: 40%
    float: right

  h2
    margin: 5px 0 6px
    float: left
    display: block
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    max-width: 80%

    small
      margin-left: 10px

  span
    color: #bdbdbd
    display: table

    h4
      margin-top: 13px
      padding-left: 10px
      font-size: $font-size * 1

.x_content
  padding: 0 5px 6px
  position: relative
  width: 100%
  float: left
  clear: both
  margin-top: 5px

  h4
    font-size: $font-size * 1
    font-weight: 500

legend
  padding-bottom: 7px

.demo-placeholder
  height: 280px

/** Contacts

.profile_details
  &:nth-child(3n)
    clear: both

  .profile_view
    display: inline-block
    padding: 10px 0 0
    background: #fff

    .dropdown-divider
      border-top: 1px solid #e5e5e5
      padding-top: 5px
      margin-top: 5px

    .ratings
      margin-bottom: 0

    .bottom
      background: #f2f5f7
      padding: 9px 0
      border-top: 1px solid #e6e9ed

    .left
      margin-top: 20px

      p
        margin-bottom: 3px

    .right
      margin-top: 0px
      padding: 10px

    .rounded-circle
      border: 1px solid #e6e9ed
      padding: 2px

    h2
      margin: 5px 0

    .ratings
      text-align: left
      font-size: $font-size * 1

    .brief
      margin: 0
      font-weight: 300

  .profile_left
    background: white

.pagination.pagination-split li
  display: inline-block
  margin-right: 3px

  a
    border-radius: 4px
    color: #768399
    -moz-border-radius: 4px
    -webkit-border-radius: 4px

/** Contacts
/* *********  /custom accordion  ****************************
/* *********  dashboard widget  ****************************

table
  &.tile
    h3, h4, span
      font-weight: bold
      vertical-align: middle !important

    th, td
      text-align: center

    th
      border-bottom: 1px solid #e6ecee

    td
      padding: 5px 0

      ul
        text-align: left
        padding-left: 0

        li
          list-style: none
          width: 100%

          a
            width: 100%

            big
              right: 0
              float: right
              margin-right: 13px

  &.tile_info
    width: 100%

    td
      text-align: left
      padding: 1px
      font-size: $font-size * 0.9375

      p
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin: 0
        line-height: $font-size * 1.75

      i
        margin-right: 8px
        font-size: $font-size * 1.063
        float: left
        width: 18px
        line-height: $font-size * 1.75

      &:first-child
        width: 83%

td span
  line-height: $font-size * 1.75

.sidebar-widget
  overflow: hidden

.error-number
  font-size: $font-size * 5.625
  line-height: $font-size * 5.625
  margin: 20px 0

.col-middle
  margin-top: 5%

.mid_center
  width: 370px
  margin: 0 auto
  text-align: center
  padding: 10px 20px

h3.degrees
  font-size: $font-size * 1.375
  font-weight: 400
  text-align: center

.degrees:after
  content: 'o'
  position: relative
  top: -12px
  font-size: $font-size * 0.8125
  font-weight: 300

.daily-weather .day
  font-size: $font-size * 0.875
  border-top: 2px solid rgba(115, 135, 156, 0.36)
  text-align: center
  border-bottom: 2px solid rgba(115, 135, 156, 0.36)
  padding: 5px 0

.weather-days .col-sm-2
  overflow: hidden
  width: 16.66666667%

.weather .row
  margin-bottom: 0

/* *********  tables styling  *******************************

.bulk-actions
  display: none

table.countries_list
  width: 100%

  td
    padding: 0 10px
    line-height: $font-size * 1.875
    border-top: 1px solid #eeeeee

.dataTables_paginate a
  padding: 6px 9px !important
  background: #ddd !important
  border-color: #ddd !important

.paging_full_numbers a.paginate_active
  background-color: rgba(38, 185, 154, 0.59) !important
  border-color: rgba(38, 185, 154, 0.59) !important

button.DTTT_button, div.DTTT_button, a.DTTT_button
  border: 1px solid #e7e7e7 !important
  background: #e7e7e7 !important
  box-shadow: none !important

table.jambo_table
  border: 1px solid rgba(221, 221, 221, 0.78)

  thead
    background: rgba(52, 73, 94, 0.94)
    color: #ecf0f1

    a
      background: rgba(52, 73, 94, 0.94)
      color: #ecf0f1

  tbody tr
    &:hover td
      background: rgba(38, 185, 154, 0.07)
      border-top: 1px solid rgba(38, 185, 154, 0.11)
      border-bottom: 1px solid rgba(38, 185, 154, 0.11)

    &.selected
      background: rgba(38, 185, 154, 0.16)

      td
        border-top: 1px solid rgba(38, 185, 154, 0.4)
        border-bottom: 1px solid rgba(38, 185, 154, 0.4)

.dataTables_paginate a
  background: #ff0000

.dataTables_wrapper
  position: relative
  clear: both
  zoom: 1

.dataTables_processing
  position: absolute
  top: 50%
  left: 50%
  width: 250px
  height: 30px
  margin-left: -125px
  margin-top: -15px
  padding: 14px 0 2px 0
  border: 1px solid #ddd
  text-align: center
  color: #999
  font-size: $font-size * 0.875
  background-color: white

.dataTables_length
  width: 40%
  float: left

.dataTables_filter
  width: 50%
  float: right
  text-align: right

.dataTables_info
  width: 30%
  float: left

/* .dataTables_paginate
 *   float: right;
 *   text-align: right

.dt-buttons.btn-group
  float: left
  margin-top: 15px

table
  &.dataTable
    th.focus, td.focus
      outline: 2px solid #1abb9c !important
      outline-offset: -1px

  &.display
    margin: 0 auto
    clear: both
    width: 100%

    thead th
      padding: 8px 18px 8px 10px
      border-bottom: 1px solid black
      font-weight: bold
      cursor: pointer

    tfoot th
      padding: 3px 18px 3px 10px
      border-top: 1px solid black
      font-weight: bold

    tr.heading2 td
      border-bottom: 1px solid #aaa

    td
      padding: 3px 10px

      &.center
        text-align: center

    thead
      th:active, td:active
        outline: none

.dataTables_scroll
  clear: both

.dataTables_scrollBody
  *margin-top: -1px
  -webkit-overflow-scrolling: touch

.top .dataTables_info
  float: none

.clear
  clear: both

.dataTables_empty
  text-align: center

tfoot input
  margin: 0.5em 0
  width: 100%
  color: #444

  &.search_init
    color: #999

td
  &.group
    background-color: #d1cfd0
    border-bottom: 2px solid #a19b9e
    border-top: 2px solid #a19b9e

  &.details
    background-color: #d1cfd0
    border: 2px solid #a19b9e

.example_alt_pagination div.dataTables_info
  width: 40%

.paging_full_numbers
  width: 400px
  height: 22px
  line-height: $font-size * 1.375

  a
    &:active
      outline: none

    &:hover
      text-decoration: none

    &.paginate_button, &.paginate_active
      border: 1px solid #aaa
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      padding: 2px 5px
      margin: 0 3px
      cursor: pointer

    &.paginate_button
      background-color: #ddd

      &:hover
        background-color: #ccc
        text-decoration: none !important

    &.paginate_active
      background-color: #99b3ff

table.display tr
  &.even.row_selected td
    background-color: #b0bed9

  &.odd.row_selected td
    background-color: #9fafd1

div.box
  height: 100px
  padding: 10px
  overflow: auto
  border: 1px solid #8080ff
  background-color: #e5e5ff

/* *********  /tables styling  ******************************
/* *********  /dashboard widget  ****************************
/* *********  widgets  ***************************************

.text-muted > a
  text-decoration: underline

ul.msg_list li
  background: #f7f7f7
  padding: 5px
  display: -ms-flexbox
  display: flex
  margin: 6px 6px 0
  width: 96% !important

  &:last-child
    margin-bottom: 6px
    padding: 10px

  a
    padding: 3px 5px !important

    .image img
      border-radius: 2px 2px 2px 2px
      -webkit-border-radius: 2px 2px 2px 2px
      float: left
      margin-right: 10px
      width: 11%

    .time
      font-size: $font-size * 0.6875
      font-style: italic
      font-weight: bold
      position: absolute
      right: 35px

    .message
      display: block !important
      font-size: $font-size * 0.6875

.dropdown-menu
  &.msg_list span
    white-space: normal

  border: medium none
  box-shadow: none
  display: none
  float: left
  font-size: $font-size * 0.75
  left: 0
  list-style: none outside none
  padding: 0
  position: absolute
  text-shadow: none
  top: 100%
  z-index: 9998
  border: 1px solid #d9dee4
  border-top-left-radius: 0
  border-top-right-radius: 0

  > li > a
    color: #5a738e

.navbar-nav .open .dropdown-menu
  position: absolute
  background: #fff
  margin-top: 0
  border: 1px solid #d9dee4
  -webkit-box-shadow: none
  right: 0
  left: auto
  width: 220px

  &.msg_list
    width: 300px

.info-number .badge
  font-size: $font-size * 0.625
  font-weight: normal
  line-height: $font-size * 0.8125
  padding: 2px 6px
  position: absolute
  right: 2px
  top: 8px

ul.to_do
  padding: 0

  li
    background: #f3f3f3
    border-radius: 3px
    position: relative
    padding: 7px
    margin-bottom: 5px
    list-style: none

  p
    margin: 0

.dashboard-widget
  background: #f6f6f6
  border-top: 5px solid #79c3df
  border-radius: 3px
  padding: 5px 10px 10px

  .dashboard-widget-title
    font-weight: normal
    border-bottom: 1px solid #c1cdcd
    margin: 0 0 10px 0
    padding-bottom: 5px
    padding-left: 40px
    line-height: $font-size * 1.875

    i
      font-size: 100%
      margin-left: -35px
      margin-right: 10px
      color: #33a1c9
      padding: 3px 6px
      border: 1px solid #abd9ea
      border-radius: 5px
      background: #fff

ul.quick-list
  width: 45%
  padding-left: 0
  display: inline-block

  li
    padding-left: 10px
    list-style: none
    margin: 0
    padding-bottom: 6px
    padding-top: 4px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    i
      padding-right: 10px
      color: #757679

.dashboard-widget-content
  padding-top: 9px

  .sidebar-widget
    width: 50%
    display: inline-block
    vertical-align: top
    background: #fff
    border: 1px solid #abd9ea
    border-radius: 5px
    text-align: center
    float: right
    padding: 2px
    margin-top: 10px

.widget_summary
  width: 100%
  display: -ms-inline-flexbox
  display: inline-flex

  .w_left
    float: left
    text-align: left

  .w_center
    float: left

  .w_right
    float: left
    text-align: right

    span
      font-size: $font-size * 1.25

.w_20
  width: 20%

.w_25
  width: 25%

.w_55
  width: 55%

h5.graph_title
  text-align: left
  margin-left: 10px

  i
    margin-right: 10px
    font-size: $font-size * 1.063

span.right
  float: right
  font-size: ($font-size * 0.875) !important

.tile_info a
  text-overflow: ellipsis

/*sidebar

.sidebar-footer
  bottom: 0px
  clear: both
  display: block
  padding: 5px 0 0 0
  position: fixed
  width: 200px
  background: #2a3f54

  a
    padding: 7px 0 3px
    text-align: center
    width: 25%
    font-size: $font-size * 1.063
    display: block
    float: left
    background: #172d44

    &:hover
      background: #425567

/** top tiles

.tile_count
  margin-bottom: 20px
  margin-top: 20px

  .tile_stats_count
    border-bottom: 1px solid #d9dee4
    padding: 0 10px 0 20px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      height: 65px
      border-left: 2px solid #adb2b5
      margin-top: 10px

    .count
      font-size: $font-size * 1.875
      line-height: $font-size * 2.938
      font-weight: 600

    span
      font-size: $font-size * 0.75

    .count_bottom i
      width: 12px

@media (min-width: 992px)
  footer
    margin-left: 200px

@media (min-width: 992px)
  .tile_count .tile_stats_count
    margin-bottom: 10px
    border-bottom: 0
    padding-bottom: 10px

@media (min-width: 992px)
  .tile_count .tile_stats_count:first-child:before
    border-left: 0

@media (min-width: 768px)
  .tile_count .tile_stats_count .count
    font-size: $font-size * 2.5

@media (min-width: 992px) and (max-width: 1100px)
  .tile_count .tile_stats_count .count
    font-size: $font-size * 1.875

@media (min-width: 768px)
  .tile_count .tile_stats_count span
    font-size: $font-size * 0.8125

/** /top tiles

.dashboard_graph
  background: #fff
  padding: 7px 10px

  .col-md-9, .col-md-3
    padding: 0

a.user-profile
  color: #5e6974 !important

.user-profile img
  width: 29px
  height: 29px
  border-radius: 50%
  margin-right: 10px

ul.top_profiles
  height: 330px
  width: 100%

  li
    margin: 0
    padding: 3px 5px

    &:nth-child(odd)
      background-color: #eee

.media
  .profile_thumb
    border: 1px solid
    width: 50px
    height: 50px
    margin: 5px 10px 5px 0
    border-radius: 50%
    padding: 9px 12px

    i
      font-size: $font-size * 1.875

  .date
    background: #ccc
    width: 52px
    margin-right: 10px
    border-radius: 10px
    padding: 5px

    .month
      margin: 0
      text-align: center
      color: #fff

    .day
      text-align: center
      color: #fff
      font-size: $font-size * 1.688
      margin: 0
      line-height: $font-size * 1.688
      font-weight: bold

.event .media-body
  a.title
    font-weight: bold

  p
    margin-bottom: 0

h4.graph_title
  margin: 7px
  text-align: center

/* *********  /widgets  ***************************************
/* *********  iconts-display  ****************************

.fontawesome-icon-list .fa-hover a
  &:hover
    background-color: #ddd
    color: #fff
    text-decoration: none

    .fa
      font-size: $font-size * 1.75
      vertical-align: -6px

  display: block
  line-height: $font-size * 2
  height: 32px
  padding-left: 10px
  border-radius: 4px

  .fa
    width: 32px
    font-size: $font-size * 1
    display: inline-block
    text-align: right
    margin-right: 10px

.main_menu .fa
  width: 26px
  opacity: 0.99
  display: inline-block
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  font-size: $font-size * 1.125
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* *********  /iconts-display  ****************************
/** tile stats

.tile-stats
  position: relative
  display: block
  margin-bottom: 12px
  border: 1px solid #e4e4e4
  -webkit-border-radius: 5px
  overflow: hidden
  padding-bottom: 5px
  -webkit-background-clip: padding-box
  -moz-border-radius: 5px
  -moz-background-clip: padding
  border-radius: 5px
  background-clip: padding-box
  background: #fff
  transition: all 300ms ease-in-out

  &:hover .icon i
    animation-name: tansformAnimation
    animation-duration: 0.5s
    animation-iteration-count: 1
    color: rgba(58, 58, 58, 0.41)
    animation-timing-function: ease
    animation-fill-mode: forwards
    -webkit-animation-name: tansformAnimation
    -webkit-animation-duration: 0.5s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: forwards
    -moz-animation-name: tansformAnimation
    -moz-animation-duration: 0.5s
    -moz-animation-iteration-count: 1
    -moz-animation-timing-function: ease
    -moz-animation-fill-mode: forwards

  .icon
    width: 20px
    height: 20px
    color: #bab8b8
    position: absolute
    right: 53px
    top: 22px
    z-index: 1

    i
      margin: 0
      font-size: $font-size * 3.75
      line-height: 0
      vertical-align: bottom
      padding: 0

  .count
    font-size: $font-size * 2.375
    font-weight: bold
    line-height: 1.65857
    position: relative
    margin: 0
    margin-left: 10px
    z-index: 5
    padding: 0

  h3, p
    position: relative
    margin: 0
    margin-left: 10px
    z-index: 5
    padding: 0

  h3
    color: #bab8b8

  p
    margin-top: 5px
    font-size: $font-size * 0.75

  > .dash-box-footer
    position: relative
    text-align: center
    margin-top: 5px
    padding: 3px 0
    color: #fff
    color: rgba(255, 255, 255, 0.8)
    display: block
    z-index: 10
    background: rgba(0, 0, 0, 0.1)
    text-decoration: none

    &:hover
      color: #fff
      background: rgba(0, 0, 0, 0.15)
      color: #fff
      background: rgba(0, 0, 0, 0.15)

table.tile_info
  padding: 10px 15px

  span.right
    margin-right: 0
    float: right
    position: absolute
    right: 4%

.tile:hover
  text-decoration: none

.tile_header
  border-bottom: transparent
  padding: 7px 15px
  margin-bottom: 15px
  background: #e7e7e7

.tile_head h4
  margin-top: 0
  margin-bottom: 5px

.tiles-bottom
  padding: 5px 10px
  margin-top: 10px
  background: rgba(194, 194, 194, 0.3)
  text-align: left

/** /tile stats
/** inbox

a.star
  color: #428bca !important

.mail_content
  background: none repeat scroll 0 0 #ffffff
  border-radius: 4px
  margin-top: 20px
  min-height: 500px
  padding: 10px 11px
  width: 100%

.list-btn-mail
  margin-bottom: 15px

  &.active
    border-bottom: 1px solid #39b3d7
    padding: 0 0 14px

  >
    i
      float: left
      font-size: $font-size * 1.125
      font-style: normal
      width: 33px

    .cn
      background: none repeat scroll 0 0 #39b3d7
      border-radius: 12px
      color: #ffffff
      float: right
      font-style: normal
      padding: 0 5px

.button-mail
  margin: 0 0 15px !important
  text-align: left
  width: 100%

button, .buttons, .btn, .modal-footer .btn + .btn
  margin-bottom: 5px
  margin-right: 5px

.btn-group-vertical .btn, .btn-group .btn
  margin-bottom: 0
  margin-right: 0

.mail_list_column, .mail_view
  border-left: 1px solid #dbdbdb

.mail_list
  width: 100%
  border-bottom: 1px solid #dbdbdb
  margin-bottom: 2px
  display: inline-block

  .left
    width: 5%
    float: left
    margin-right: 3%

  .right
    width: 90%
    float: left

  h3
    font-size: $font-size * 0.9375
    font-weight: bold
    margin: 0px 0 6px

    small
      float: right
      color: #adabab
      font-size: $font-size * 0.6875
      line-height: $font-size * 1.25

  .badge
    padding: 3px 6px
    font-size: $font-size * 0.5
    background: #bab7b7

@media (max-width: 767px)
  .mail_list
    margin-bottom: 5px
    display: inline-block

.mail_heading h4
  font-size: $font-size * 1.125
  border-bottom: 1px solid #ddd
  padding-bottom: 10px
  margin-top: 20px

.attachment
  margin-top: 30px

  ul
    width: 100%
    list-style: none
    padding-left: 0
    display: inline-block
    margin-bottom: 30px

    li
      float: left
      width: 150px
      margin-right: 10px
      margin-bottom: 10px

      img
        height: 150px
        border: 1px solid #ddd
        padding: 5px
        margin-bottom: 10px

      span
        float: right

  .file-name
    float: left

  .links
    width: 100%
    display: inline-block

.compose
  padding: 0
  position: fixed
  bottom: 0
  right: 0
  background: #fff
  border: 1px solid #d9dee4
  border-right: 0
  border-bottom: 0
  border-top-left-radius: 5px
  z-index: 9999
  display: none

  .compose-header
    padding: 5px
    background: #169f85
    color: #fff
    border-top-left-radius: 5px

    .close
      text-shadow: 0 1px 0 #ffffff
      line-height: 0.8

  .compose-body
    .editor.btn-toolbar
      margin: 0

    .editor-wrapper
      height: 100%
      min-height: 50px
      max-height: 180px
      border-radius: 0
      border-left: none
      border-right: none
      overflow: auto

  .compose-footer
    padding: 10px

/** /inbox
/* *********  form design  ****************************

.editor.btn-toolbar
  zoom: 1
  background: #f7f7f7
  margin: 5px 2px
  padding: 3px 0
  border: 1px solid #efefef

.input-group
  margin-bottom: 10px

.ln_solid
  border-top: 1px solid #e5e5e5
  color: #ffffff
  background-color: #ffffff
  height: 1px
  margin: 20px 0

span.section
  display: block
  width: 100%
  padding: 0
  margin-bottom: 20px
  font-size: $font-size * 1.313
  line-height: inherit
  color: #333
  border: 0
  border-bottom: 1px solid #e5e5e5

.form-control
  font-size: $font-size * 0.875

/*  border-radius: 0;
 * width: 100%
 * &:focus
 *   border-color: #ccd0d7
 *   box-shadow: none !important

legend
  font-size: $font-size * 1.125
  color: inherit

.form-control-feedback
  margin-top: 8px
  height: 23px
  color: #bbb
  line-height: $font-size * 1.5
  font-size: $font-size * 0.9375

  &.left
    border-right: 1px solid #ccc
    left: 13px

  &.right
    border-left: 1px solid #ccc
    right: 13px

.form-control
  &.has-feedback-left
    padding-left: 45px

  &.has-feedback-right
    padding-right: 45px

  margin-bottom: 10px

.validate
  margin-top: 10px

.invalid-form-error-message
  margin-top: 10px
  padding: 5px

  &.filled
    border-left: 2px solid #e74c3c

.form_errors
  color: #dc3545

p
  &.parsley-success
    color: #468847
    background-color: #dff0d8
    border: 1px solid #d6e9c6

  &.parsley-error
    color: #b94a48
    background-color: #f2dede
    border: 1px solid #eed3d7

ul.parsley-errors-list
  list-style: none
  color: #e74c3c
  padding-left: 0

input.parsley-error, textarea.parsley-error, select.parsley-error
  background: #faedec
  border: 1px solid #e85445

.btn-group .parsley-errors-list
  display: none

.bad
  input, select, textarea
    border: 1px solid #ce5454
    box-shadow: 0 0 4px -2px #ce5454
    position: relative
    left: 0
    -moz-animation: 0.7s 1 shake linear
    -webkit-animation: 0.7s 1 shake linear

.item
  input, textarea
    transition: 0.42s

  .alert
    float: left
    margin: 0 0 0 20px
    padding: 3px 10px
    color: #fff
    border-radius: 3px 4px 4px 3px
    background-color: #ce5454
    max-width: 170px
    white-space: pre
    position: relative
    left: -15px
    opacity: 0
    z-index: 1
    transition: 0.15s ease-out

    &::after
      content: ''
      display: block
      height: 0
      width: 0
      border-color: transparent #ce5454 transparent transparent
      border-style: solid
      border-width: 11px 7px
      position: absolute
      left: -13px
      top: 1px

  &.bad .alert
    left: 0
    opacity: 1

/* alerts (when validation fails)

.inl-bl
  display: inline-block

.well .markup
  background: #fff
  color: #777
  position: relative
  padding: 45px 15px 15px
  margin: 15px 0 0 0
  background-color: #fff
  border-radius: 0 0 4px 4px
  box-shadow: none

  &::after
    content: 'Example'
    position: absolute
    top: 15px
    left: 15px
    font-size: $font-size * 0.75
    font-weight: bold
    color: #bbb
    text-transform: uppercase
    letter-spacing: 1px

/* ***** autocomplete *****

.autocomplete-suggestions
  border: 1px solid #e4e4e4
  background: #f4f4f4
  cursor: default
  overflow: auto

.autocomplete-suggestion
  padding: 2px 5px
  font-size: 1.2em
  white-space: nowrap
  overflow: hidden

.autocomplete-selected
  background: #f0f0f0

.autocomplete-suggestions strong
  font-weight: normal
  color: #3399ff
  font-weight: bolder

/* ***** /autocomplete ****
/* ***** buttons *******

.btn
  border-radius: 3px

a
  &.btn-success, &.btn-primary, &.btn-warning, &.btn-danger
    color: #fff

.btn-success
  background: #26b99a
  border: 1px solid #169f85

  &:hover, &:focus, &:active, &.active
    background: #169f85

.open .dropdown-toggle.btn-success
  background: #169f85

.btn-dark
  color: #e9edef
  background-color: #4b5f71
  border-color: #364b5f

  &:hover, &:focus, &:active, &.active
    color: #ffffff
    background-color: #394d5f
    border-color: #394d5f

.open .dropdown-toggle.btn-dark
  color: #ffffff
  background-color: #394d5f
  border-color: #394d5f

.btn-round
  border-radius: 30px

.btn.btn-app
  position: relative
  padding: 15px 5px
  margin: 0 0 10px 10px
  min-width: 80px
  height: 60px
  box-shadow: none
  border-radius: 0
  text-align: center
  color: #666
  border: 1px solid #ddd
  background-color: #fafafa
  font-size: $font-size * 0.75

  >
    .fa, .glyphicon, .ion
      font-size: $font-size * 1.25
      display: block

  &:hover
    background: #f4f4f4
    color: #444
    border-color: #aaa

  &:active, &:focus
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)

  > .badge
    position: absolute
    top: -3px
    right: -10px
    font-size: $font-size * 0.625
    font-weight: 400

.btn-group-xs > .btn, .btn-xs
  padding: 0.25rem 0.4rem
  font-size: 0.875rem
  line-height: 0.5
  border-radius: 0.2rem

/* ***** /buttons ******
/* *********  /form design  ****************************
/* *********  form textarea  ****************************

textarea
  padding: 10px
  vertical-align: top
  width: 200px

  &:focus
    outline-style: solid
    outline-width: 2px

.btn_
  display: inline-block
  padding: 3px 9px
  margin-bottom: 0
  font-size: $font-size * 0.875
  line-height: $font-size * 1.25
  text-align: center
  vertical-align: middle
  cursor: pointer
  color: #333333
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  background-color: #f5f5f5
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
  border-color: #e6e6e6 #e6e6e6 #bfbfbf
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  border: 1px solid #cccccc
  border-bottom-color: #b3b3b3
  border-radius: 4px
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)

/* *********  form tags input  ****************************

.tagsinput
  border: 1px solid #ccc
  background: #fff
  padding: 6px 6px 0
  width: 300px
  overflow-y: auto

span.tag
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  display: block
  float: left
  padding: 5px 9px
  text-decoration: none
  background: #1abb9c
  color: #f1f6f7
  margin-right: 5px
  font-weight: 500
  margin-bottom: 5px
  font-family: helvetica

  a
    color: #f1f6f7 !important

.tagsinput
  span.tag a
    font-weight: bold
    color: #82ad2b
    text-decoration: none
    font-size: $font-size * 0.6875

  input
    width: 80px
    margin: 0px
    font-family: helvetica
    font-size: $font-size * 0.8125
    border: 1px solid transparent
    padding: 3px
    background: transparent
    color: #000
    outline: 0px

  div
    display: block
    float: left

.tags_clear
  clear: both
  width: 100%
  height: 0px

.not_valid
  background: #fbd8db !important
  color: #90111a !important

/* *********  /form tags input  ****************************
/** Tabs

ul.bar_tabs
  overflow: visible
  background: #f5f7fa
  height: 25px
  margin: 21px 0 14px
  padding-left: 14px
  position: relative
  z-index: 1
  width: 100%
  border-bottom: 1px solid #e6e9ed

  > li
    border: 1px solid #e6e9ed
    color: #333 !important
    margin-top: -17px
    margin-left: 8px
    background: #fff
    border-bottom: none
    border-radius: 4px 4px 0 0

    &.active
      border-right: 6px solid #d3d6da
      border-top: 0
      margin-top: -15px

    a
      padding: 10px 17px
      background: #f5f7fa
      margin: 0
      border-top-right-radius: 0

      &:hover
        border: 1px solid transparent

    &.active a
      border-bottom: none

  &.right
    padding-right: 14px

    li
      float: right

a:focus
  outline: none

// .tab-content
//   .tab-content-status
//     .form-group
//       min-width: 180px
//
// // .tab-content-body
// //   .form-group
// //     min-width: 80%

/** /Tabs
/* *********  timeline  ****************************

ul.timeline li
  position: relative
  border-bottom: 1px solid #e8e8e8
  clear: both

.timeline
  .block
    margin: 0
    border-left: 3px solid #e8e8e8
    overflow: visible
    padding: 10px 15px
    margin-left: 245px

  &.widget
    min-width: 0
    max-width: inherit

    .block
      margin-left: 5px

  .tags
    position: absolute
    top: 15px
    left: 0
    max-width: 224px

  .tag
    display: block
    height: 30px
    font-size: $font-size * 0.8125
    padding: 8px

    span
      display: block
      overflow: hidden
      width: 100%
      white-space: nowrap
      text-overflow: ellipsis

.tag
  line-height: 1
  background: #1abb9c
  color: #fff !important

/* tagifiy tags form-control

tags
  border-radius: 4px
  margin-bottom: 10px

/*.tag:after {
 *content: ' ';
 *height: 30px;
 *width: 0;
 *position: absolute;
 *left: 100%;
 *top: 0;
 *margin: 0;
 *pointer-events: none;
 *border-top: 14px solid transparent;
 *border-bottom: 14px solid transparent;
 *border-left: 11px solid #1ABB9C; }

.timeline
  h2.title
    position: relative
    font-size: $font-size * 1
    margin: 0

    &:before
      content: ''
      position: absolute
      left: -23px
      top: 3px
      display: block
      width: 14px
      height: 14px
      border: 3px solid #d2d3d2
      border-radius: 14px
      background: #f9f9f9

  .byline
    padding: 0.25em 0

.byline
  -webkit-font-smoothing: antialiased
  font-style: italic
  font-size: 0.9375em
  line-height: 1.3
  color: #aab6aa

ul.social li
  border: 0

/* *********  /timeline  ****************************
/* *********  profile/social  ****************************

.social-sidebar, .social-body
  float: right

.social-sidebar
  background: #ededed
  width: 22%

.social-body
  border: 1px solid #ccc
  width: 78%

.thumb img
  width: 50px
  height: 50px
  border-radius: 50%

.chat
  .thumb img
    width: 27px
    height: 27px
    border-radius: 50%

  .status
    float: left
    margin: 16px 0 0 -16px
    font-size: $font-size * 0.875
    font-weight: bold
    width: 12px
    height: 12px
    display: block
    border: 2px solid #fff
    z-index: 12312
    border-radius: 50%

    &.online
      background: #1abb9c

    &.away
      background: #f39c12

    &.offline
      background: #ccc

  .media-body
    padding-top: 5px

/* *********  /profile/social  ****************************
/* *********  widgets  ****************************

.dashboard_graph .x_title
  padding: 5px 5px 7px

  h3
    margin: 0
    font-weight: normal

.chart
  position: relative
  display: inline-block
  width: 110px
  height: 110px
  margin-top: 5px
  margin-bottom: 5px
  text-align: center

  canvas
    position: absolute
    top: 0
    left: 0

.percent
  display: inline-block
  line-height: $font-size * 6.875
  z-index: 2
  font-size: $font-size * 1.125

  &:after
    content: '%'
    margin-left: 0.1em
    font-size: 0.8em

.angular
  margin-top: 100px

  .chart
    margin-top: 0

.widget
  min-width: 250px
  max-width: 310px

.widget_tally_box .btn-group button
  text-align: center
  color: inherit
  font-weight: 500
  background-color: #f5f5f5
  border: 1px solid #e7e7e7

ul.widget_tally
  width: 100%

  li
    width: 100%
    padding: 2px 10px
    border-bottom: 1px solid #ececec
    padding-bottom: 4px

  .month
    width: 70%
    float: left

  .count
    width: 30%
    float: left
    text-align: right

.pie_bg
  border-bottom: 1px solid rgba(101, 204, 182, 0.16)
  padding-bottom: 15px
  border-radius: 4px
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  padding-bottom: 10px
  box-shadow: 0 4px 6px -6px #222

.widget_tally_box .flex
  display: -ms-flexbox
  display: flex

ul.widget_profile_box
  width: 100%
  height: 42px
  padding: 3px
  background: #ececec
  margin-top: 40px
  margin-left: 1px

  li
    &:first-child
      width: 25%
      float: left

      a
        float: left

    &:last-child
      width: 25%
      float: right

      a
        float: right

    a
      font-size: $font-size * 1.375
      text-align: center
      width: 35px
      height: 35px
      border: 1px solid rgba(52, 73, 94, 0.44)
      display: block
      border-radius: 50%
      padding: 0px

      &:hover
        color: #1abb9c !important
        border: 1px solid #26b99a

    .profile_img
      width: 85px
      height: 85px
      margin: 0
      margin-top: -28px

.widget_tally_box
  p, span
    text-align: center

  .name
    text-align: center
    margin: 25px

  .name_title
    text-align: center
    margin: 5px

  ul
    &.legend
      margin: 0

      p, span
        text-align: left

      li
        .icon
          font-size: $font-size * 1.25
          float: left
          width: 14px

        .name
          font-size: $font-size * 0.875
          margin: 5px 0 0 14px
          text-overflow: ellipsis
          float: left

      p
        display: inline-block
        margin: 0

    &.verticle_bars li
      height: 200px
      width: 23%

.widget .verticle_bars li .progress.vertical.progress_wide
  width: 65%

ul.count2
  width: 100%
  margin-left: 1px
  border: 1px solid #ddd
  border-left: 0
  border-right: 0
  padding: 10px 0

  li
    width: 30%
    text-align: center

    h3
      font-weight: 400
      margin: 0

    span
      font-weight: 300

/* *********  /widgets  ****************************

.dropdown-divider
  border-bottom: 1px solid #ddd
  margin: 10px

.dropdown-divider-dashed
  border-top: 1px dashed #e7eaec
  background-color: #ffffff
  height: 1px
  margin: 10px 0

ul.messages
  padding: 0
  list-style: none

  li
    border-bottom: 1px dotted #e6e6e6
    padding: 8px 0

.tasks li
  border-bottom: 1px dotted #e6e6e6
  padding: 8px 0

ul.messages li img.avatar, img.avatar
  height: 32px
  width: 32px
  float: left
  display: inline-block
  border-radius: 2px
  padding: 2px
  background: #f7f7f7
  border: 1px solid #e6e6e6

ul
  &.messages li
    .message_date
      float: right
      text-align: right

    .message_wrapper
      margin-left: 50px
      margin-right: 40px

      h4.heading
        font-weight: 600
        margin: 0
        cursor: pointer
        margin-bottom: 10px
        line-height: 100%

      blockquote
        padding: 0px 10px
        margin: 0
        border-left: 5px solid #eee

  &.user_data li
    margin-bottom: 6px

    p
      margin-bottom: 0

    .progress
      width: 90%

.project_progress .progress
  margin-bottom: 3px !important
  margin-top: 5px

.projects .list-inline
  margin: 0

.profile_title
  background: #f5f7fa
  border: 0
  padding: 7px 0
  display: -ms-flexbox
  display: flex

ul
  &.stats-overview
    border-bottom: 1px solid #e8e8e8
    padding-bottom: 10px
    margin-bottom: 10px

    li
      display: inline-block
      text-align: center
      padding: 0 15px
      width: 30%
      font-size: $font-size * 0.875
      border-right: 1px solid #e8e8e8

      &:last-child
        border-right: 0

      .name
        font-size: $font-size * 0.75

      .value
        font-size: $font-size * 0.875
        font-weight: bold
        display: block

      &:first-child
        padding-left: 0

  &.project_files li
    margin-bottom: 5px

    a i
      width: 20px

.project_detail p
  margin-bottom: 10px

  &.title
    font-weight: bold
    margin-bottom: 0

.avatar img
  border-radius: 50%
  max-width: 45px

/* *********  pricing  ****************************

.pricing
  background: #fff

  .title
    background: #1abb9c
    height: 110px
    color: #fff
    padding: 15px 0 0
    text-align: center

    h2
      text-transform: capitalize
      font-size: $font-size * 1.125
      border-radius: 5px 5px 0 0
      margin: 0
      font-weight: 400

    h1
      font-size: $font-size * 1.875
      margin: 12px

    span
      background: rgba(51, 51, 51, 0.28)
      padding: 2px 5px

.pricing_features
  background: #fafafa
  padding: 20px 15px
  min-height: 230px
  font-size: 13.5px

  ul li
    margin-top: 10px

.pricing_footer
  padding: 10px 15px
  background-color: #f5f5f5
  border-top: 1px solid #ddd
  text-align: center
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px

  p
    font-size: $font-size * 0.8125
    padding: 10px 0 2px
    display: block

.ui-ribbon-container
  position: relative

  .ui-ribbon-wrapper
    position: absolute
    overflow: hidden
    width: 85px
    height: 88px
    top: -3px
    right: -3px

  &.ui-ribbon-primary .ui-ribbon
    background-color: #5b90bf

  .ui-ribbon
    position: relative
    display: block
    text-align: center
    font-size: $font-size * 0.9375
    font-weight: 700
    color: #fff
    transform: rotate(45deg)
    padding: 7px 0
    left: -5px
    top: 15px
    width: 120px
    line-height: $font-size * 1.25
    background-color: #555
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)

  &.ui-ribbon-primary .ui-ribbon
    &:after, &:before
      border-top: 2px solid #5b90bf

  .ui-ribbon
    &:before
      left: 0
      bottom: -1px
      right: 0

    &:after, &:before
      position: absolute
      content: ' '
      line-height: 0
      border-top: 2px solid #555
      border-left: 2px solid transparent
      border-right: 2px solid transparent

/* *********  /pricing  ****************************
/* *********  media gallery  ****************************

.thumbnail .image
  height: 120px
  overflow: hidden

.caption
  padding: 9px 5px
  background: #f7f7f7

  p
    margin-bottom: 5px

.thumbnail
  height: 190px
  overflow: hidden

.view
  overflow: hidden
  position: relative
  text-align: center
  box-shadow: 1px 1px 2px #e6e6e6
  cursor: default

  .mask, .content
    position: absolute
    width: 100%
    overflow: hidden
    top: 0
    left: 0

  img
    display: block
    position: relative

  .tools
    text-transform: uppercase
    color: #fff
    text-align: center
    position: relative
    font-size: $font-size * 1.063
    padding: 3px
    background: rgba(0, 0, 0, 0.35)
    margin: 43px 0 0 0

.mask.no-caption .tools
  margin: 90px 0 0 0

.view
  .tools a
    display: inline-block
    color: #fff
    font-size: $font-size * 1.125
    font-weight: 400
    padding: 0 4px

  p
    font-family: Georgia, serif
    font-style: italic
    font-size: $font-size * 0.75
    position: relative
    color: #fff
    padding: 10px 20px 20px
    text-align: center

  a.info
    display: inline-block
    text-decoration: none
    padding: 7px 14px
    background: #000
    color: #fff
    text-transform: uppercase
    box-shadow: 0 0 1px #000

.view-first
  img
    transition: all 0.2s linear

  .mask
    opacity: 0
    background-color: rgba(0, 0, 0, 0.5)
    transition: all 0.4s ease-in-out

  .tools
    transform: translateY(-100px)
    opacity: 0
    transition: all 0.2s ease-in-out

  p
    transform: translateY(100px)
    opacity: 0
    transition: all 0.2s linear

  &:hover
    img
      transform: scale(1.1)

    .mask
      opacity: 1

    .tools
      opacity: 1
      transform: translateY(0px)

    p
      opacity: 1
      transform: translateY(0px)
      transition-delay: 0.1s

/* *********  /media gallery  ****************************
/* *********  verticle tabs  ****************************
/*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 İsmail Demirbilek
 * License: MIT

.tabs-left, .tabs-right
  border-bottom: none
  padding-top: 2px

.tabs-left
  border-right: 1px solid #f7f7f7

.tabs-right
  border-left: 1px solid #f7f7f7

.tabs-left > li, .tabs-right > li
  float: none
  margin-bottom: 2px

.tabs-left > li
  margin-right: -1px

.tabs-right > li
  margin-left: -1px

.tabs-left > li.active > a
  border-bottom-color: #f7f7f7
  border-right-color: transparent

  &:hover, &:focus
    border-bottom-color: #f7f7f7
    border-right-color: transparent

.tabs-right > li.active > a
  border-bottom: 1px solid #f7f7f7
  border-left-color: transparent

  &:hover, &:focus
    border-bottom: 1px solid #f7f7f7
    border-left-color: transparent

.tabs-left > li > a
  border-radius: 4px 0 0 4px
  margin-right: 0
  display: block
  background: #f7f7f7
  text-overflow: ellipsis
  overflow: hidden

.tabs-right > li > a
  border-radius: 0 4px 4px 0
  margin-right: 0
  background: #f7f7f7
  text-overflow: ellipsis
  overflow: hidden

.sideways
  margin-top: 50px
  border: none
  position: relative

  > li
    height: 20px
    width: 120px
    margin-bottom: 100px

    > a
      border-bottom: 1px solid #ddd
      border-right-color: transparent
      text-align: center
      border-radius: 4px 4px 0px 0px

    &.active > a
      border-bottom-color: transparent
      border-right-color: #ddd
      border-left-color: #ddd

      &:hover, &:focus
        border-bottom-color: transparent
        border-right-color: #ddd
        border-left-color: #ddd

  &.tabs-left
    left: -50px

  &.tabs-right
    right: -50px

    > li
      transform: rotate(90deg)

  &.tabs-left > li
    transform: rotate(-90deg)

/* *********  /verticle tabs  ****************************
/* *********  moris  ****************************

.morris-hover
  position: absolute
  z-index: 1000

  &.morris-default-style
    padding: 6px
    color: #666
    background: rgba(243, 242, 243, 0.8)
    border: solid 2px rgba(195, 194, 196, 0.8)
    font-family: sans-serif
    font-size: $font-size * 0.75
    text-align: center

    .morris-hover-row-label
      font-weight: bold
      margin: 0.25em 0

    .morris-hover-point
      white-space: nowrap
      margin: 0.1em 0

/* *********  /moris  ****************************
/* *********  ecommerce  ****************************

.price
  font-size: $font-size * 2.5
  font-weight: 400
  color: #26b99a
  margin: 0

.prod_title
  border-bottom: 1px solid #dfdfdf
  padding-bottom: 5px
  margin: 30px 0
  font-size: $font-size * 1.25
  font-weight: 400

.product-image img
  width: 90%

.prod_color li
  margin: 0 10px

  p
    margin-bottom: 0

.prod_size li
  padding: 0

.prod_color .color
  width: 25px
  height: 25px
  border: 2px solid rgba(51, 51, 51, 0.28) !important
  padding: 2px
  border-radius: 50px

.product_gallery a
  width: 100px
  height: 100px
  float: left
  margin: 10px
  border: 1px solid #e5e5e5

  img
    width: 100%
    margin-top: 15px

.product_price
  margin: 20px 0
  padding: 5px 10px
  background-color: #ffffff
  text-align: left
  border: 2px dashed #e0e0e0

.price-tax
  font-size: $font-size * 1.125

.product_social
  margin: 20px 0

  ul li a i
    font-size: $font-size * 2.188

/* *********  /ecommerce  ****************************
/** login

.login
  background: #f7f7f7

  .fa-paw
    font-size: $font-size * 1.625

a.hiddenanchor
  display: none

.login_wrapper
  right: 0px
  margin: 0px auto
  margin-top: 5%
  max-width: 350px
  position: relative

.registration_form, .login_form
  position: absolute
  top: 0px
  width: 100%

.registration_form
  z-index: 21
  opacity: 0
  width: 100%

.login_form
  z-index: 22

#signup:target ~ .login_wrapper .registration_form, #signin:target ~ .login_wrapper .login_form
  z-index: 22
  animation-name: fadeInLeft
  animation-delay: 0.1s

#signup:target ~ .login_wrapper .login_form, #signin:target ~ .login_wrapper .registration_form
  animation-name: fadeOutLeft

.animate
  -webkit-animation-duration: 0.5s
  -webkit-animation-timing-function: ease
  -webkit-animation-fill-mode: both
  -moz-animation-duration: 0.5s
  -moz-animation-timing-function: ease
  -moz-animation-fill-mode: both
  -o-animation-duration: 0.5s
  -o-animation-timing-function: ease
  -o-animation-fill-mode: both
  -ms-animation-duration: 0.5s
  -ms-animation-timing-function: ease
  -ms-animation-fill-mode: both
  animation-duration: 0.5s
  animation-timing-function: ease
  animation-fill-mode: both

/** /login
/** signup

.login_box
  padding: 20px
  margin: auto

.left
  float: left

.alignleft
  float: left
  margin-right: 15px

.alignright
  float: right
  margin-left: 15px

.clearfix:after, form:after
  content: '.'
  display: block
  height: 0
  clear: both
  visibility: hidden

.login_content
  margin: 0 auto
  padding: 25px 0 0
  position: relative
  text-align: center
  text-shadow: 0 1px 0 #fff
  min-width: 280px

  a, .btn-secondary:hover
    text-decoration: none

  a:hover
    text-decoration: underline

  h1
    font: normal ($font-size * 1.563) Helvetica, Arial, sans-serif
    letter-spacing: -0.05em
    line-height: $font-size * 1.25
    margin: 10px 0 30px

    &:before
      content: ''
      height: 1px
      position: absolute
      top: 10px
      width: 27%

    &:after
      content: ''
      height: 1px
      position: absolute
      top: 10px
      width: 27%
      background: #7e7e7e
      background: linear-gradient(to left, #7e7e7e 0%, white 100%)
      right: 0

    &:before
      background: #7e7e7e
      background: linear-gradient(to right, #7e7e7e 0%, white 100%)
      left: 0
      content: ''
      height: 1px
      position: absolute
      top: 10px
      width: 20%

    &:after
      content: ''
      height: 1px
      position: absolute
      top: 10px
      width: 20%
      background: #7e7e7e
      background: linear-gradient(to left, #7e7e7e 0%, white 100%)
      right: 0

    &:before
      background: #7e7e7e
      background: linear-gradient(to right, #7e7e7e 0%, white 100%)
      left: 0

  form
    margin: 20px 0
    position: relative

    input
      &[type='text'], &[type='email'], &[type='password']
        border-radius: 3px
        -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
        -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
        border: 1px solid #c8c8c8
        color: #777
        margin: 0 0 20px
        width: 100%

      &[type='text']:focus, &[type='email']:focus, &[type='password']:focus
        -ms-box-shadow: 0 0 2px #ed1c24 inset
        -o-box-shadow: 0 0 2px #ed1c24 inset
        box-shadow: 0 0 2px #a97aad inset
        background-color: #fff
        border: 1px solid #a878af
        outline: none

#username
  background-position: 10px 10px !important

#password
  background-position: 10px -53px !important

.login_content form div a
  font-size: $font-size * 0.75
  margin: 10px 15px 0 0

.reset_pass
  margin-top: 10px !important

.login_content div .reset_pass
  margin-top: 13px !important
  margin-right: 39px
  float: right

.separator
  border-top: 1px solid #d8d8d8
  margin-top: 10px
  padding-top: 10px

.button
  background: #f7f9fa
  background: linear-gradient(to top, #f7f9fa 0%, #f0f0f0 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0)
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset
  border-radius: 0 0 5px 5px
  border-top: 1px solid #cfd5d9
  padding: 15px 0

.login_content form input[type='submit'], #content form .submit
  float: left
  margin-left: 38px

.button a
  background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat
  color: #7e7e7e
  font-size: $font-size * 1.063
  padding: 2px 0 2px 40px
  text-decoration: none
  transition: all 0.3s ease

  &:hover
    background-position: 0 -135px
    color: #00aeef

header
  width: 100%

/** signup
/* *********  start nprogress  ****************************
/* Make clicks pass-through

#nprogress
  pointer-events: none

  .bar
    background: #29d
    position: fixed
    z-index: 1031
    top: 0
    left: 0
    width: 100%
    height: 2px

  .peg
    display: block
    position: absolute
    right: 0px
    width: 100px
    height: 100%
    box-shadow: 0 0 10px #29d, 0 0 5px #29d
    opacity: 1
    transform: rotate(3deg) translate(0px, -4px)

  .spinner
    display: block
    position: fixed
    z-index: 1031
    top: 15px
    right: 15px

  .spinner-icon
    width: 18px
    height: 18px
    box-sizing: border-box
    border: solid 2px transparent
    border-top-color: #29d
    border-left-color: #29d
    border-radius: 50%
    animation: nprogress-spinner 400ms linear infinite

/* Fancy blur effect

/* Remove these to get rid of the spinner

.nprogress-custom-parent
  overflow: hidden
  position: relative

  #nprogress
    .spinner, .bar
      position: absolute

@keyframes nprogress-spinner
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

/* *********  end nprogress  ****************************
/** bootstrap-wysiwyg

.editor-wrapper
  min-height: 250px
  background-color: white
  border-collapse: separate
  border: 1px solid #cccccc
  padding: 4px
  box-sizing: content-box
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px
  border-top-left-radius: 3px
  overflow: scroll
  outline: none

.voiceBtn
  width: 20px
  color: transparent
  background-color: transparent
  transform: scale(2, 2)
  -webkit-transform: scale(2, 2)
  -moz-transform: scale(2, 2)
  border: transparent
  cursor: pointer
  box-shadow: none
  -webkit-box-shadow: none

div[data-role='editor-toolbar']
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.dropdown-menu a
  cursor: pointer

/** /bootstrap-wysiwyg
/** Select2

.select2-container--default
  .select2-selection--single, .select2-selection--multiple
    background-color: #fff
    border: 1px solid #ced4da !important
    border-radius: 0
    min-height: 38px

  .select2-selection--single .select2-selection__rendered
    color: #73879c
    padding-top: 5px

  .select2-selection--multiple .select2-selection__rendered
    padding-top: 3px

  .select2-selection--single .select2-selection__arrow
    height: 36px

  .select2-selection--multiple
    .select2-selection__choice, .select2-selection__clear
      margin-top: 2px
      border: none
      border-radius: 0
      padding: 3px 5px

  &.select2-container--focus .select2-selection--multiple
    border: 1px solid #ccc

  &.select2-container--disabled .select2-selection--multiple
    background-color: #e9ecef !important

  .select2-search--inline .select2-search__field
    color: #6c757d !important

/** /Select2
/** Switchery

.switchery
  width: 32px
  height: 20px

  > small
    width: 20px
    height: 20px

/** /Switchery
/** Normalize.css

fieldset
  border: none
  margin: 0
  padding: 0

/** /Normalize.css
/** Cropper

.cropper
  .img-container, .img-preview
    background-color: #f7f7f7
    width: 100%
    text-align: center

  .img-container
    min-height: 200px
    max-height: 516px
    margin-bottom: 20px

    > img
      max-width: 100%

  .docs-preview
    margin-right: -15px

  .img-preview
    float: left
    margin-right: 10px
    margin-bottom: 10px
    overflow: hidden

    > img
      max-width: 100%

  .preview-lg
    width: 263px
    height: 148px

  .preview-md
    width: 139px
    height: 78px

  .preview-sm
    width: 69px
    height: 39px

  .preview-xs
    width: 35px
    height: 20px
    margin-right: 0

  .docs-data > .input-group
    margin-bottom: 10px

    >
      label
        min-width: 80px

      span
        min-width: 50px

  .docs-buttons >
    .btn, .btn-group, .form-control
      margin-right: 5px
      margin-bottom: 10px

  .docs-toggles >
    .btn, .btn-group, .dropdown
      margin-bottom: 10px

  .docs-tooltip
    display: block
    margin: (-6px) -12px
    padding: 6px 12px

    > .icon
      margin: 0 -3px
      vertical-align: top

  .tooltip-inner
    white-space: normal

  .btn-upload .tooltip-inner
    white-space: nowrap

  .btn-toggle
    .tooltip-inner
      white-space: nowrap

    padding: 6px

    > .docs-tooltip
      margin: -6px
      padding: 6px

  .docs-options .dropdown-menu
    width: 100%

    > li
      padding: 3px 20px

      &:hover
        background-color: #f7f7f7

      > label
        display: block

  .docs-cropped .modal-body
    text-align: center

    >
      img, canvas
        max-width: 100%

  .docs-diagram .modal-dialog
    max-width: 352px

  .docs-cropped canvas
    max-width: 100%

@media (min-width: 768px)
  .cropper .img-container
    min-height: 516px

@media (max-width: 400px)
  .cropper .btn-group-crop
    margin-right: (-15px) !important

    > .btn
      padding-left: 5px
      padding-right: 5px

    .docs-tooltip
      margin-left: -5px
      margin-right: -5px
      padding-left: 5px
      padding-right: 5px

/*modal dialogs

.modal-header
  display: block

.modal-body label.required:after
  content: '*'

/** /Cropper
/** jQuery Smart Wizard

.form_wizard .stepContainer
  display: block
  position: relative
  margin: 0
  padding: 0
  border: 0 solid #ccc
  overflow-x: hidden

.wizard_horizontal ul.wizard_steps
  display: table
  list-style: none
  position: relative
  width: 100%
  margin: 0 0 20px

  li
    display: table-cell
    text-align: center

    a, &:hover
      display: block
      position: relative
      -moz-opacity: 1
      filter: alpha(opacity = 100)
      opacity: 1
      color: #666

    a
      &:before
        content: ''
        position: absolute
        height: 4px
        background: #ccc
        top: 20px
        width: 100%
        z-index: 4
        left: 0

      &.disabled .step_no
        background: #ccc

      .step_no
        width: 40px
        height: 40px
        line-height: $font-size * 2.5
        border-radius: 100px
        display: block
        margin: 0 auto 5px
        font-size: $font-size * 1
        text-align: center
        position: relative
        z-index: 5

      &.selected:before
        background: #34495e
        color: #fff

.step_no
  background: #34495e
  color: #fff

.wizard_horizontal ul.wizard_steps li
  a.done
    &:before, .step_no
      background: #1abb9c
      color: #fff

  &:first-child a:before
    left: 50%

  &:last-child a:before
    right: 50%
    width: 50%
    left: auto

.wizard_verticle .stepContainer
  width: 80%
  float: left
  padding: 0 10px

.actionBar
  width: 100%
  border-top: 1px solid #ddd
  padding: 10px 5px
  text-align: right
  margin-top: 10px

  .buttonDisabled
    cursor: not-allowed
    pointer-events: none
    opacity: 0.65
    filter: alpha(opacity = 65)
    box-shadow: none

  a
    margin: 0 3px

.wizard_verticle
  .wizard_content
    width: 80%
    float: left
    padding-left: 20px

  ul.wizard_steps
    display: table
    list-style: none
    position: relative
    width: 20%
    float: left
    margin: 0 0 20px

    li
      display: list-item
      text-align: center

      a
        height: 80px

        &:first-child
          margin-top: 20px

        display: block
        position: relative
        -moz-opacity: 1
        filter: alpha(opacity = 100)
        opacity: 1
        color: #666

      &:hover
        display: block
        position: relative
        -moz-opacity: 1
        filter: alpha(opacity = 100)
        opacity: 1
        color: #666

      a
        &:before
          content: ''
          position: absolute
          height: 100%
          background: #ccc
          top: 20px
          width: 4px
          z-index: 4
          left: 49%

        &.disabled .step_no
          background: #ccc

        .step_no
          width: 40px
          height: 40px
          line-height: $font-size * 2.5
          border-radius: 100px
          display: block
          margin: 0 auto 5px
          font-size: $font-size * 1
          text-align: center
          position: relative
          z-index: 5

        &.selected:before
          background: #34495e
          color: #fff

.step_no
  background: #34495e
  color: #fff

.wizard_verticle ul.wizard_steps li
  a.done
    &:before, .step_no
      background: #1abb9c
      color: #fff

  &:first-child a:before
    left: 49%

  &:last-child a:before
    left: 49%
    left: auto
    width: 0

.form_wizard
  .loader, .msgBox
    display: none

/** jQuery Smart Wizard
/** bootstrap-progressbar

.progress
  border-radius: 0

.bg-info
  background-color: #3498db

.bg-success
  background-color: #26b99a

.progress_summary
  .progress
    margin: 5px 0 12px !important

  .row
    margin-bottom: 5px

    .col-2
      padding: 0

  .more_info span, .data span
    text-align: right
    float: right

  p
    margin-bottom: 3px
    width: 100%

.progress_title
  .left
    float: left
    text-align: left

  .right
    float: right
    text-align: right
    font-weight: 300

.progress.progress_sm
  border-radius: 0
  margin-bottom: 18px
  height: 10px !important

  .progress-bar
    height: 10px !important

.dashboard_graph p
  margin: 0 0 4px

ul.verticle_bars
  width: 100%

  li
    width: 23%
    height: 200px
    margin: 0

.progress.vertical.progress_wide
  width: 35px

/** bootstrap-progressbar
/** PNotify

.alert-success
  color: #ffffff
  background-color: rgba(38, 185, 154, 0.88)
  border-color: rgba(38, 185, 154, 0.88)

.alert-info
  color: #e9edef
  background-color: rgba(52, 152, 219, 0.88)
  border-color: rgba(52, 152, 219, 0.88)

.alert-warning
  color: #e9edef
  background-color: rgba(243, 156, 18, 0.88)
  border-color: rgba(243, 156, 18, 0.88)

.alert-danger, .alert-error
  color: #e9edef
  background-color: rgba(231, 76, 60, 0.88)
  border-color: rgba(231, 76, 60, 0.88)

.ui-pnotify.dark .ui-pnotify-container
  color: #e9edef
  background-color: rgba(52, 73, 94, 0.88)
  border-color: rgba(52, 73, 94, 0.88)

.custom-notifications
  position: fixed
  margin: 15px
  right: 0
  float: right
  width: 400px
  z-index: 4000
  bottom: 0

ul.notifications
  float: right
  display: block
  margin-bottom: 7px
  padding: 0
  width: 100%

.notifications
  li
    float: right
    margin: 3px
    width: 36px
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)

    &:last-child
      margin-left: 0

  a
    display: block
    text-align: center
    text-decoration: none
    text-transform: uppercase
    padding: 9px 8px

.tabbed_notifications
  .text
    padding: 5px 15px
    height: 200px
    border-radius: 7px
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3)

  div p
    display: inline-block

  h2
    font-weight: bold
    text-transform: uppercase
    width: 80%
    float: left
    height: 20px
    text-overflow: ellipsis
    overflow: hidden
    display: block

  .close
    padding: 5px
    color: #e9edef
    float: right
    opacity: 1

/** /PNotify
/** bootstrap-daterangepicker

.daterangepicker
  &.dropdown-menu
    font-size: $font-size * 0.8125
    padding: 0
    overflow: hidden

  &.picker_1
    background: #34495e
    color: #ecf0f1

    table.table-sm thead tr:first-child
      background: #1abb9c

  table.table-sm thead tr:first-child th
    line-height: $font-size * 1.75
    text-align: center

  &.picker_1 table.table-sm thead tr
    background: #213345

  table.table-sm
    thead tr
      line-height: $font-size * 0.875

    tbody tr:first-child td
      padding-top: 10px

    th:first-child, td:first-child
      padding-left: 12px

    th:last-child, td:last-child
      padding-right: 12px

.table-sm >
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td
    padding: 5px 7px
    text-align: center

.daterangepicker
  table.table-sm tbody tr:last-child td
    padding-bottom: 10px

  &.picker_2 table.table-sm thead tr
    &:first-child
      color: inherit

    color: #1abb9c

  &.picker_3 table.table-sm thead tr:first-child
    background: #1abb9c
    color: #ecf0f1

  &.picker_4 table.table-sm
    tbody td
      background: #ecf0f1
      color: #34495e
      border: 1px solid #fff
      padding: 4px 7px

      &.active
        background: #536a7f
        color: #fff

    thead tr:first-child
      background: #34495e
      color: #ecf0f1

.xdisplay_input
  width: 240px
  overflow: hidden
  padding: 0

.xdisplay
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ccc
  margin-bottom: 20px
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 4px
  width: 240px
  overflow: hidden
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)

.daterangepicker
  &.opensright
    .ranges, .calendar
      float: none !important

  &.openscenter
    .ranges, .calendar
      float: none !important

  table
    width: 100%
    margin: 0

  td, th
    text-align: center
    width: 20px
    height: 20px
    cursor: pointer
    white-space: nowrap

  td
    &.off, &.disabled
      color: #999

    &.available:hover
      background: #eee
      color: #34495e

  th.available:hover
    background: #eee
    color: #34495e

  td
    &.in-range
      background: #e4e7ea
      border-radius: 0

    &.available + td.start-date
      border-radius: 4px 0 0 4px

    &.in-range + td.end-date
      border-radius: 0 4px 4px 0

    &.start-date.end-date
      border-radius: 4px !important

    &.active
      background-color: #536a7f
      color: #fff

      &:hover
        background-color: #536a7f
        color: #fff

    &.week
      font-size: 80%
      color: #ccc

  th.week
    font-size: 80%
    color: #ccc

  select
    &.monthselect, &.yearselect
      font-size: $font-size * 0.75
      padding: 1px
      height: auto
      margin: 0
      cursor: default
      height: 30px
      border: 1px solid #adb2b5
      line-height: $font-size * 1.875
      border-radius: 0px !important

    &.monthselect
      margin-right: 2%
      width: 56%

    &.yearselect
      width: 40%

    &.hourselect, &.minuteselect, &.ampmselect
      width: 50px
      margin-bottom: 0

.daterangepicker_start_input
  float: left

.daterangepicker_end_input
  float: left
  padding-left: 11px

.daterangepicker
  th.month
    width: auto

  .daterangepicker_start_input label, .daterangepicker_end_input label
    color: #333
    display: block
    font-size: $font-size * 0.6875
    font-weight: normal
    height: 20px
    line-height: $font-size * 1.25
    margin-bottom: 2px
    text-shadow: #fff 1px 1px 0px
    text-transform: uppercase
    width: 74px

  .ranges
    input
      font-size: $font-size * 0.6875

    .input-mini
      background-color: #eee
      border: 1px solid #ccc
      border-radius: 4px
      color: #555
      display: block
      font-size: $font-size * 0.6875
      height: 30px
      line-height: $font-size * 1.875
      vertical-align: middle
      margin: 0 0 10px 0
      padding: 0 6px
      width: 74px

      &:hover
        cursor: pointer

    ul
      list-style: none
      margin: 0
      padding: 0

    li
      font-size: $font-size * 0.8125
      background: #f5f5f5
      border: 1px solid #f5f5f5
      color: #536a7f
      padding: 3px 12px
      margin-bottom: 8px
      border-radius: 5px
      cursor: pointer

      &.active, &:hover
        background: #536a7f
        border: 1px solid #536a7f
        color: #fff

  .calendar
    display: none
    max-width: 270px

  &.show-calendar .calendar
    display: block

  .calendar.single .calendar-date
    border: none

  &.single
    .ranges, .calendar
      float: none

  .ranges
    width: 160px
    text-align: left
    margin: 4px

    .range_inputs > div
      float: left

      &:nth-child(2)
        padding-left: 11px

  &.opensleft
    .ranges, .calendar
      float: left
      margin: 4px

  .icon
    width: 20px
    height: 20px
    display: inline-block
    vertical-align: middle

/** bootstrap-daterangepicker
/** FullCalendar

.fc-state-default
  background: #f5f5f5
  color: #73879c

.fc-state-down, .fc-state-active
  color: #333
  background: #ccc

/** /FullCalendar
/** Dropzone.js

.dropzone
  min-height: 300px
  border: 1px solid #e5e5e5

/** /Dropzone.js

.pointer
  cursor: pointer !important

.feature-box
  background-color: #fff
  border: 1px solid #e3e3e3
  border-radius: 3px
  margin-bottom: 15px
  min-height: 20px
  padding: 19px
  text-align: center

#hoeapp-wrapper
  color: #7e7e7e
  direction: ltr
  font-family: 'lato', sans-serif
  font-size: $font-size * 0.8125
  line-height: $font-size * 1.25
