{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 offset-0">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-user"></i> {% trans "Manage users" %}</h3>
            </div>
            {% if request.user.is_superuser == True %}
            <div class="title_right">
                <a
                    href="{% url 'society_manager:user-create' %}"
                    class="btn btn-outline btn-primary btn-sm float-right"
                ><i class="fa fa-plus"></i> {% trans "Add user" %}</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-12 offset-0">
        <div class="x_panel">

            <!-- /.card-header -->
            <div class="card-body">
                <table
                    id="dataTables-users"
                    class="table table-striped table-bordered nowrap"
                    cellspacing="0"
                    width="100%"
                >
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "ID" %}</th>
                            <th class="text-center">{% trans "Username" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Last name" %}</th>
                            <th
                                class="text-center"
                                width="5px"
                            >{% trans "Active" %}</th>
                            <th class="text-center">{% trans "Email-Address" %}</th>
                            <th class="text-center">{% trans "Added" %}</th>
                            <th class="text-center">{% trans "Staff" %}</th>
                            <th class="text-center">{% trans "UserType" %}</th>
                            <th class="text-center">{% trans "SuperUser" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_list %}
                        <tr class="odd gradeX">
                            <td></td>
                            <td><a href="{% url 'society_manager:user-edit' user.id %}">{{ user.id }}</a></td>
                            <td class="text-center">{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td class="text-center">{% if user.is_active == True %}<i
                                    class="glyphicon glyphicon-ok"></i>
                                {% else %}<i class="glyphicon glyphicon-remove"></i>{% endif %}</td>
                            <td class="text-center">{{ user.email}}</td>
                            <td class="text-center">{{ user.date_joined|localize }}</td>
                            <td class="text-center">{% if user.is_staff == True %}<i class="fa fa-check"></i>
                                {% else %}<i class="fa fa-times"></i>{% endif %}</td>
                            <td class="text-center">{% if user.is_superuser == True %}<i class="fa fa-cog"></i>
                                {% elif not user.profile_society_manager.status_rel.status or user.profile_society_manager.status_rel.status == "Operator" %}<i
                                    class="fa fa-lock"
                                ></i>
                                {% else %}<i class="fa fa-unlock"></i>{% endif %}</td>
                            <td class="text-center">{% if user.is_superuser == True %}<i class="fa fa-check"></i>
                                {% else %}<i class="fa fa-times"></i>{% endif %}</td>
                            {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->

            <div class="row">
                <div class="">
                    <div class="form-group">
                        <!--submit-->

                        <div class="ln_solid"></div>
                        <a
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-left: 20px"
                            href="{% url 'society_manager:tickets-settings' %}"
                        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
