{% comment %}
Copyright (C) 2018 - 2019 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-archive-basic-subscription-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Archive Basic Subscription" %}</h4>
            </div>
            <div class="modal-body">
                <h4>{% trans "Warning!" %}</h4>
                {% blocktrans %}
                <p>You're about to archive a master data entry.</p>
                <p>All related data to that master data entry will be affected!</p>
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <form
                    action="{% url 'society_manager:basic-subscriptions-archive' form.instance.id %}"
                    method="post"
                >
                    {% csrf_token %}
                    <button
                        class="btn btn-danger btn-sm"
                        type="submit"
                    >{% trans "Yes, archive it!" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
