{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 offset-0">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-database"></i> {% trans "Manage Payment Types" %}</h3>
            </div>
            <div class="title_right">
                <a
                    href="{% url 'society_manager:payment-types-create' %}"
                    class="btn btn-outline btn-primary btn-sm float-right"
                ><i class="fa fa-plus"></i> {% trans "Add Payment Type" %}</a>
            </div>
        </div>
    </div>

    <div class="col-md-12 offset-0">
        <div class="x_panel">
            <!-- /.card-header -->
            <div class="card-body">
                <table
                    id="dataTables-payment-types"
                    class="table table-striped table-bordered nowrap"
                    cellspacing="0"
                    width="100%"
                >
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "ID" %}</th>
                            <th class="text-center">{% trans "name_field" %}</th>
                            <th class="text-center">{% trans "updated_field" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment_type in payment_types_list %}
                        <tr class="odd gradeX">
                            <td></td>
                            <td><a href="{% url 'society_manager:payment-types-edit' payment_type.id %}">{{ payment_type.id }}</a></td>
                            <td class="text-center">{{ payment_type.name }}</td>
                            <td class="text-center">{{ payment_type.updated|localize }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->

            <div class="row">
                <div class="">
                    <div class="form-group">
                        <!--submit-->

                        <div class="ln_solid"></div>
                        <a
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-left: 20px"
                            href="{% url 'society_manager:tickets-settings' %}"
                        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}
