{% extends "society_manager/base.html" %}

{% comment %}
  Copyright (C) 2018 dsoft-app-dev.de and friends.

  This Program may be used by anyone in accordance with the terms of the
  German Free Software License

  The License may be obtained under http://www.d-fsl.org.

  Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static blog_tags %}

{% block extrastyle %}
{% endblock %}

{% block javascript %}
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Open tickets" %}</h2>
                <ul class="nav ml-auto panel_toolbox">
                    <li class="nav-item"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <article class="media event">
                    <div class="media-body">
                        {% for t in open_tickets.data %}
                        {% query t.ticket_rel_comm is_archived=False as comments %}
                        #<a
                            class="title"
                            href="tickets/view/{{ t.id }}"
                        >{{ t.nr }} - {{ t.subject }}</a> <span class="pull right"><i class="fa fa-comment-o"></i>{{ comments.count }}</span>
                        <p class="byline">{{ t.created|localize }} {% trans "by" %} {{ t.str_create_user }}</p>
                        <p class="excerpt"> {{ t.body | truncatechars:90 }} <a href="tickets/view/{{ t.id }}">
                                {% trans "Read more" %}</a></p>
                        <hr>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Pending tickets" %}</h2>
                <ul class="nav ml-auto panel_toolbox">
                    <li class="nav-item"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <article class="media event">
                    <div class="media-body">
                        {% for t in pending_tickets.data %}
                        {% query t.ticket_rel_comm is_archived=False as comments %}
                        #<a
                            class="title"
                            href="tickets/view/{{ t.id }}"
                        >{{ t.nr }} - {{ t.subject }}</a> <span class="pull right"><i class="fa fa-comment-o"></i>{{ comments.count }}</span>
                        <p class="byline">{{ t.created|localize }} {% trans "by" %} {{ t.str_create_user }}</p>
                        <p class="excerpt"> {{ t.body | truncatechars:90 }} <a href="tickets/view/{{ t.id }}">
                            {% trans "Read more" %}</a></p>
                        <hr>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "My tickets" %}</h2>
                <ul class="nav ml-auto panel_toolbox">
                    <li class="nav-item"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <article class="media event">
                    <div class="media-body">
                        {% for t in my_tickets.data %}
                        {% query t.ticket_rel_comm is_archived=False as comments %}
                        #<a
                            class="title"
                            href="tickets/view/{{ t.id }}"
                        >{{ t.nr }} - {{ t.subject }}</a> <span class="pull right"><i class="fa fa-comment-o"></i>{{ comments.count }}</span>
                        <p class="byline">{{ t.created|localize }} {% trans "by" %} {{ t.str_create_user }}</p>
                        <p class="excerpt"> {{ t.body | truncatechars:90 }} <a href="tickets/view/{{ t.id }}">
                            {% trans "Read more" %}</a></p>
                        <hr>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% if rssdata %}
<div class="row">
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2><a
                        class="title pull-center"
                        href="{{ rssfeed.url }}"
                        target="_blank"
                    >{% trans "Rss Feed" %} | {{ rssfeed.feed.title }}</a></h2>
                <ul class="nav ml-auto panel_toolbox">
                    <li class="nav-item"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="nav-item"><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <article class="media event">
                    <div class="media-body">
                        {% for i in rssfeed.entries|slice:':5' %}
                        <p>
                            {% for k in i.links %}<a
                                href="{{ k.href }}"
                                target="_blank"
                            >{% endfor %}{{ i.title }}</a>
                        </p>
                        <p>
                            {{ i.summary|safe }}
                        </p>
                        <hr>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
