{% comment %}
Copyright (C) 2018 - 2023 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n static core_settings_data websettings_tags crispy_forms_tags widget_tweaks %}
{% load render_bundle from webpack_loader %}
{% site_vars as vars %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>{{vars.name}} {{vars.version}}</title>
    {% render_bundle 'appSocietyManagerStyle' %}
</head>

<body class="login">
    <div>
        <a
            class="hiddenanchor"
            id="signup"
        ></a>
        <a
            class="hiddenanchor"
            id="signin"
        ></a>

        <div class="login_wrapper">
            <div class="animate form login_form form-control">
                <section class="login_content">
                    <form
                        role="form"
                        action="{% url 'society_manager:login' %}"
                        method="post"
                        novalidate
                    > {% csrf_token %}
                        <input
                            type="hidden"
                            name="next"
                            value="{{ next }}"
                        >

                        <h1><span
                                class="feature-icon"
                                aria-hidden="true"
                            ><i class="fa fa-users"></i> {{vars.name}}</span></h1>
                        {% for field in form %}
                        <div class="form-group">
                            {% if field.name == 'otp_auth' %}
                            {{ field|attr:"autocomplete:off"|as_crispy_field }}
                            {% else %}
                            {{ field|as_crispy_field }}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div>
                            <button
                                type="submit"
                                value="login"
                                class="btn btn-lg btn-success btn-block"
                            >{% trans "Login" %}</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <p>{% transFromWebSettings "WEBSITE_DEV_FOOTER" %}</p>
                                <p>{% include 'home/includes/dsad-dev-link.html' %}</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

</html>
