{% comment %}
  Copyright (C) 2018 dsoft-app-dev.de and friends.

  This Program may be used by anyone in accordance with the terms of the
  German Free Software License

  The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n static core_settings_data websettings_tags crispy_forms_tags widget_tweaks %}
{% load render_bundle from webpack_loader %}
{% site_vars as vars %}
{% app_settings as appsettings %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>{{vars.name}} {{vars.version}}</title>
    {% render_bundle 'appSocietyManagerStyle' %}
</head>

<body class="login">
    <div>
        <a
            class="hiddenanchor"
            id="signup"
        ></a>
        <a
            class="hiddenanchor"
            id="signin"
        ></a>

        <div class="login_wrapper">
            <div class="animate form login_form form-control">
                <section class="login_content">
                    <h1><span
                            class="feature-icon"
                            aria-hidden="true"
                        ><i class="fa fa-users"></i> {{vars.name}}</span></h1>
                    <div>
                        <a
                            href="{% url 'society_manager:login' %}?next={{appsettings.app_url_prefix}}/"
                            class="btn btn-lg btn-success btn-block"
                        >{% trans "Back to Login" %}</a>
                        <a
                            href="{% url 'home:index' %}"
                            class="btn btn-lg btn-success btn-block"
                        >{% trans "Back to Home" %}</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <p>{% transFromWebSettings "WEBSITE_DEV_FOOTER" %}</p>
                            <p>{% include 'home/includes/dsad-dev-link.html' %}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>
