{% comment %}
  Copyright (C) 2018 dsoft-app-dev.de and friends.

  This Program may be used by anyone in accordance with the terms of the
  German Free Software License

  The License may be obtained under http://www.d-fsl.org.

  Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n static core_settings_data blog_tags %}
{% app_settings as appsettings %}

<div class="col-md-3 left_col">
    <div class="scroll-view">
        <div
            class="navbar nav_title"
            style="border: 0;"
        >
            <div class="profile">
                <a href="{% url 'society_manager:index' %}"><img
                        src="{{ logo }}"
                        style="margin-left: 15px; margin-top: 0px; width: 110px; height: 55px;"
                    ></a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div
            id="sidebar-menu"
            class="main_menu_side hidden-print main_menu"
        >
            <div class="menu_section">
                <ul class="nav side-menu text-left">
                    <li class="nav-item">
                        <a href="{% url 'society_manager:index' %}"><i class="fa fa-home"></i> {% trans "Dashoard" %}
                            <span class="fa"></span></a>
                    </li>
                    {% all_queues_for_user perm_level='can_create' as queues %}
                    {% if queues %}
                    <li class="nav-item">
                        <a href="{% url 'society_manager:tickets-create' %}"><i class="fa fa-plus"></i>
                            {% trans "Add ticket" %}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'society_manager:tickets-list' %}"><i class="fa fa-reorder"></i>
                            {% trans "Tickets" %} <span class="fa"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'society_manager:prospects-list' %}"><i class="fa fa-vcard-o"></i>
                            {% trans "Prospects" %} <span class="fa"></span></a>
                    </li>
                    {% if appsettings.show_members %}
                    <li class="nav-item">
                        <a href="{% url 'society_manager:members-list' %}"><i class="fa fa-users"></i>
                            {% trans "Members" %} <span class="fa"></span></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a><i class="fa fa-flag-o fa-fw"></i> {% trans "States" %} <span class="fa arrow"></span></a>
                        <ul class="nav child_menu">
                            {% all_states as states %}
                            {% for state in states %}
                            <li>
                                <a href="{% url 'society_manager:tickets-list-state' state.id %}">{{ state }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a><i class="fa fa-th-list"></i> {% trans "Queues" %}<span class="fa arrow"></span></a>
                        <ul class="nav child_menu">
                            {% all_queues_for_user perm_level='can_view' as queues %}
                            {% for queue in queues %}
                            <li>
                                <a href="{% url 'society_manager:tickets-list-queue' queue.id %}">{{ queue.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a><i class="fa fa-flag-o fa-fw"></i> {% trans "labels_field" %}<span class="fa arrow"></span></a>
                        <ul class="nav child_menu">
                            {% all_labels as labels %}
                            {% for label in labels %}
                            <li>
                                <a href="{% url 'society_manager:tickets-list-label' label|escape_raw %}">{{ label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'society_manager:search' %}"><i class="fa fa-search"></i> {% trans "Search" %}
                        </a>
                    </li>
                    {% comment %} <li>
                        <a href="{% url 'society_manager:calendar' %}"><i class="fa fa-calendar"></i> Calendar</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a href="{% url 'society_manager:tickets-settings' %}"><i class="fa fa-gear fa-fw"></i>
                            {% trans "Settings" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
