{% comment %}
  Copyright (C) 2018 dsoft-app-dev.de and friends.

  This Program may be used by anyone in accordance with the terms of the
  German Free Software License

  The License may be obtained under http://www.d-fsl.org.

  Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n static notifications_tags %}

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a
                        href="javascript:;"
                        class="dropdown-item"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        style="padding-top: 17px; height: 100%"
                    >
                        <i class=" fa fa-bell" style="color: #73879c; margin-right: 10px"></i>
                        {% live_notify_badge %}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class='dropdown-menu live_notify_list'></ul>
                </li>
                <li class="nav-item">
                    <a
                        href="javascript:;"
                        class="user-profile dropdown-item"
                        data-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {% if request.user.avatar%}
                        <img
                            src="{{ request.user.avatar.url }}"
                            alt="..."
                        >
                        {% else %}
                        <img
                            src="{% static 'society_manager/img/user.png' %}"
                            alt=""
                        >
                        {% endif %}
                        {{ request.user }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu float-right">
                        {% comment %} <li><a href="{% url 'user-edit' request.user.id %}"> Profile</a></li>
                        <li>
                            <a href="{% url 'society_manager:tickets-settings' %}">
                                <span>Settings</span>
                            </a>
                        </li> {% endcomment %}
                        <!--<li><a href="javascript:;">Help</a></li>-->
                        <li class="nav-item"><a href="{% url 'society_manager:logout' %}"><i class="fa fa-sign-out float-right"></i>
                                {% trans "Log Out" %}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
