@import ~node_modules/datatables.net-bs4/css/datatables.bootstrap4
@import ~node_modules/datatables.net-autofill-bs4/css/autoFill.bootstrap4
@import ~node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4
@import ~node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4
@import ~node_modules/datatables.net-select-bs4/css/select.bootstrap4

.dataTables_processing
  top: 200px !important
  height: 50px !important
  color: #73879c
  border-color: rgba(52, 73, 94, 0.94)

.table
  &.dataTable > tbody > tr > td.control::before
    content: '\f078' !important
    font-family: fontawesome !important
    font-weight: bold !important
    margin-right: 7px !important
    font-size: 0.7em !important

  &.dataTable > tbody > tr.parent > td.control::before
    content: '\f077' !important
    font-family: fontawesome !important
    font-weight: bold !important
    margin-right: 7px !important
    font-size: 0.7em !important

  &.dataTable tbody
    td.select-checkbox::before, th.select-checkbox::before
      margin-top: 0
      background-color: #fff

    tr a
      text-decoration: underline

  &.dataTable tr.selected
    td.select-checkbox::after, th.select-checkbox::after
      margin-top: -4px
      margin-left: -5px
      text-shadow: 1px 1px #111214, -1px -1px #111214, 1px -1px #111214, -1px 1px #111214

  &.dataTable thead tr th.select-checkbox::before
    content: ' '
    border: 1px solid black
    border-radius: 3px
    display: block
    width: 12px
    height: 12px
    box-sizing: border-box
    background-color: #fff

  &.dataTable thead tr th.select-checkbox.selected::after
    content: '\2714'
    margin-top: -17px
    margin-left: 3px
    text-align: center
    text-shadow: 1px 1px #111214, -1px -1px #111214, 1px -1px #111214, -1px 1px #111214
    position: absolute

  &.dataTable #columnFiltersRow
    span.fa
      display: inline-block !important

  .dataTables_wrapper
    .dataTables_length, .dataTables_filter
      label
        margin-bottom: 0

    .dt-buttons
      .dropdown-item.active
        color: #fff
        background-color: #5a6268

    .pagination
      float: right
