.thumbnail
  padding: 0px
  height: inherit
  max-height: 40px
  max-width: 40px

.card
  position: relative

  > .card-header
    &:after, &:before
      position: absolute
      top: 11px
      left: -16px
      right: 100%
      width: 0
      height: 0
      display: block
      content: ' '
      border-color: transparent
      border-style: solid solid outset
      pointer-events: none

    &:after
      border-width: 7px
      border-right-color: #f7f7f7
      margin-top: 1px
      margin-left: 2px

    &:before
      border-right-color: #ddd
      border-width: 8px

.widget-area1
  background-color: #fff
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -ms-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05)
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05)
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05)
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05)
  float: left
  margin-top: 30px
  padding: 25px 30px
  position: relative
  width: 100%

.status-upload
  border: 1px solid #e3e3e3
  background: none repeat scroll 0 0 #f5f5f5
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -ms-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  float: left
  width: 100%

  form
    float: left
    width: 100%

    textarea
      background: none repeat scroll 0 0 #fff
      border: medium none
      -webkit-border-radius: 4px 4px 0 0
      -moz-border-radius: 4px 4px 0 0
      -ms-border-radius: 4px 4px 0 0
      -o-border-radius: 4px 4px 0 0
      border-radius: 4px 4px 0 0
      color: #777777
      float: left
      font-family: Lato
      font-size: 14px
      height: 100px
      letter-spacing: 0.3px
      padding: 20px
      width: 100%
      resize: vertical
      outline: none
      border: 1px solid #f2f2f2

  ul
    float: left
    list-style: none outside none
    margin: 0
    padding: 0 0 0 15px
    width: auto

  form button
    border: medium none
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    -ms-border-radius: 4px
    -o-border-radius: 4px
    border-radius: 4px
    color: #fff
    float: right
    font-family: Lato
    font-size: 14px
    letter-spacing: 0.3px
    margin-right: 9px
    margin-top: 9px
    padding: 6px 15px

.dropdown > a > span.green:before
  border-left-color: #2dcb73

.status-upload form button > i
  margin-right: 7px
