<!--
	Copyright (C) 2018 dsoft-app-dev.de and friends.

	This Program may be used by anyone in accordance with the terms of the
	German Free Software License

	The License may be obtained under http://www.d-fsl.org.
-->

{% load i18n static notifications_tags cookielaw_tags core_settings_data core_settings_tags websettings_tags %}
{% load render_bundle from webpack_loader %}
{% site_vars as vars %}
{% app_settings as appsettings %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% block title %}{{vars.name}}{% endblock %}</title>
    <meta
        http-equiv="content-type"
        content="text/html;charset=utf-8"
    >
    <meta charset="utf-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    >
    <!-- Add to Home Screen for iOS -->
    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >
    <!-- Placeholder for extra header content from templates -->
    {% block head %} {% endblock %}
    {% render_bundle 'appSocietyManagerStyle' %}
    {% getCoreSettingItemsFor _('Script Reference') 'SocietyManager Stylesheet' as object_list %}
    {% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
    {% if obj|getAttribItemKey == "href" %}
    <link
        rel="stylesheet"
        href="{{ obj|getAttribItemValue|handleWebSettingsType }}"
    >
    {% else %}
    <style>
        {% autoescape off %}
                {{ obj|getAttribItemValue|handleWebSettingsType }}
            {% endautoescape %}
            </style>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <!-- Placeholder for extra styling from templates -->
    {% block extend_css %}
    {% endblock %}
    <!-- Load favorite icon -->
    <link
        rel="shortcut icon"
        type="image/vnd.microsoft.icon"
        href="{% static 'mywebsite/img/default/favicon.gif' %}"
    />
</head>

{% if request.user.profile_society_manager.has_collapsednavbar == True %}
<body class="nav-sm">
    {% else %}
    <body class="nav-md">
        {% endif %}
        <noscript>
            <!-- Check if Javascript is enabled -->
            <div
                id="nojs"
                class="overlay"
            >
                <div class="popup">
                    <h2>{% trans "NOSCRIPT_HEADER" %}</h2>
                    <a
                        class="close"
                        href="#nojs"
                    >&times;</a>
                    <div class="content">
                        {% trans "NOSCRIPT_INFO_TEXT" %}
                        <a
                            class="alert-link"
                            href="https://www.enable-javascript.com/"
                            target="_blank"
                        >
                            {% trans "NOSCRIPT_INFO_REF" %}.</a>
                    </div>
                </div>
            </div>
        </noscript>
        <script
            type="text/javascript"
            src="{% url 'javascript-catalog' %}"
        ></script>
        <script type="text/javascript">
            // set date format and other translations for daterangepicker
            var $dateformat = '{{appsettings.MOMENT_DATETIME_FORMAT}}';
            var $dp_locale = {
                format: $dateformat,
                applyLabel: '{% trans "Apply" %}',
                cancelLabel: '{% trans "Cancel" %}',
                daysOfWeek: [
                    '{% trans "Su" %}',
                    '{% trans "Mo" %}',
                    '{% trans "Tu" %}',
                    '{% trans "We" %}',
                    '{% trans "Th" %}',
                    '{% trans "Fr" %}',
                    '{% trans "Sa" %}',
                ],
                monthNames: [
                    '{% trans "January" %}',
                    '{% trans "February" %}',
                    '{% trans "March" %}',
                    '{% trans "April" %}',
                    '{% trans "May" %}',
                    '{% trans "June" %}',
                    '{% trans "July" %}',
                    '{% trans "August" %}',
                    '{% trans "September" %}',
                    '{% trans "October" %}',
                    '{% trans "November" %}',
                    '{% trans "December" %}',
                ],
                firstDay: 1,
            };
            var sNow = '{% trans "Now" %}';
            var sClear = '{% trans "Clear" %}';
            var sYesterday = '{% trans "Yesterday" %}';
            var sLast7 = '{% trans "Last 7 Days" %}';
            var sLast30 = '{% trans "Last 30 Days" %}';
            var sThisMonth = '{% trans "This Month" %}';
            var sLastMonth = '{% trans "Last Month" %}';
            var sShowAll = '{% trans "Show All" %}';
            var sPending = '{% status_name "is_pending" %}';

            // translation for PNotify
            var sSuccess = '{% trans "Success" %}';
            var sError = '{% trans "Error" %}';

            // translation for datatables.net
            var sLengthMenuAll = '{% trans "All" %}';
            var sPaymentReminder = '{% trans "Payment reminder" %}';
            var sResetSavedState = '{% trans "Reset saved state" %}';
            var $dt_language = {
                sEmptyTable:   	'{% trans "No data available in table" %}',
                sInfo:         	'{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}',
                sInfoEmpty:    	'{% trans "Showing 0 to 0 of 0 entries" %}',
                sInfoFiltered: 	'{% trans "(filtered from _MAX_ total entries)" %}',
                sInfoPostFix:  	"",
                sInfoThousands: ".",
                sLengthMenu:   	'{% trans "Show _MENU_ entries" %}',
                sLoadingRecords:'{% trans "Loading..." %}',
                sProcessing:   	'{% trans "Processing..." %}',
                sSearch:       	'{% trans "Search" %}:',
                sZeroRecords:  	'{% trans "No matching records found" %}',
                oPaginate: {
                    sFirst:    	'{% trans "First" %}',
                    sPrevious: 	'{% trans "Previous" %}',
                    sNext:     	'{% trans "Next" %}',
                    sLast:     	'{% trans "Last" %}'
                },
                oAria: {
                    sSortAscending:  '{% trans ": activate to sort column ascending" %}',
                    sSortDescending: '{% trans ": activate to sort column descending" %}'
                },
                buttons: {
                    colexp: '{% trans "Column export" %}',
                    colvis: '{% trans "Column visiblity" %}',
                    colvisRestore: '{% trans "Restore visiblity" %}',
                    copy: '{% trans "Copy" %}',
                    copyTitle: '{% trans "Copy to clipboard" %}',
                    copySuccess: {
                        _: '{% trans "Copied %d rows to clipboard" %}',
                        1: '{% trans "Copied 1 row to clipboard" %}'
                    },
                    print: '{% trans "Print" %}'
                },
                select: {
                    rows: {
                        _: '{% trans "%d rows selected" %}',
                        1: '{% trans "1 row selected" %}'
                    },
                }
            };

            // convert Django messages to PNotify events
            {% if notify_messages %}
            var notify_messages = Array();
            {% for key,value in notify_messages %}
                notify_messages.push({tag: "{{ key|safe }}", message: "{{ value|safe }}"});
            {% endfor %}
            {% endif %}

            // build _columns array for select2 combobox
            var $ticket_columns = Array();
            {% for column in ticket_columns %}
                $ticket_columns.push("{{ column|safe }}");
            {% endfor %}

            var $prospect_columns = Array();
            {% for column in prospect_columns %}
                $prospect_columns.push("{{ column|safe }}");
            {% endfor %}

            var $member_columns = Array();
            {% for column in member_columns %}
                $member_columns.push("{{ column|safe }}");
            {% endfor %}

            // variable for E-Mail Button on Ticket-View
            var sStandardTemplate = '{% trans "Standard Template" %}';
            var sTemplateText = '{% trans "Sent template via E-Mail" %}';

            // set common urls for AJAX calls
            var navbar_url = "{% url 'society_manager:user-set-collapsednavbar' %}";
            var tickets_auto_create_url = "{% url 'society_manager:tickets-auto-create' %}";
            
            // configure url prefix, e.g. for datatables call
            var app_url_prefix = '{{appsettings.app_url_prefix}}';

        </script>
        {% render_bundle 'appSocietyManager' %}
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
        {% register_notify_callbacks callbacks='my_notification_list,fill_notification_badge' refresh_period='15' %}
        {% getCoreSettingItemsFor _('Script Reference') 'SocietyManager Javascript' as object_list %}
        {% for object in object_list %}
        {% for obj in object|getWebSettingsAttribItems %}
        {% if obj|getAttribItemKey == "src" %}
        <script
            src="{{ obj|getAttribItemValue|handleWebSettingsType }}"
            type="text/javascript"
        ></script>
        {% else %}
        <script type="text/javascript">
            {% autoescape off %}
            {{ obj|getAttribItemValue|handleWebSettingsType }}
            {% endautoescape %}

        </script>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <!-- Placeholder for extra javascript block from templates -->
        {% block extend_js %}
        {% endblock %}

        <div class="page-wrapper">
            <div class="container body d-flex flex-row">
                <div class="main_container">
                    <!-- Navigation -->
                    {% include "society_manager/dashboard/skel/bars.html" %}

                    <!-- /#page-wrapper -->
                    <div
                        class="right_col"
                        role="main"
                    >
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- /#page-wrapper -->
                    <footer>
                        <div class="clearfix"></div>
                        <div class="float-right">
                            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /#page-wrapper -->
                    <input
                        type="hidden"
                        id="idUser"
                        name="idUserVar"
                        value="{{ request.user.id }}"
                    >
                </div>
            </div>
        </div>
    </body>

</html>
