<!--
	Copyright (C) 2018 - 2020 dsoft-app-dev.de and friends.

	This Program may be used by anyone in accordance with the terms of the
	German Free Software License

	The License may be obtained under http://www.d-fsl.org.
-->

{% load i18n static core_settings_data websettings_tags %}
{% site_vars as vars %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% block title %}{{vars.name}}{% endblock %}</title>
    <meta
        http-equiv="content-type"
        content="text/html;charset=utf-8"
    >
    <meta charset="utf-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    >
    <!-- Add to Home Screen for iOS -->
    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >
    <style>
        @page {
            size: a4 portrait;
            margin: 27mm 10mm 27mm 10mm;
            counter-increment: page;
            padding-top: 0.5cm;

            @top-left {
                background: #2a3f54;
                color: #fff;
                content: counter(page) '/' counter(pages);
                height: 1cm;
                text-align: center;
                width: 1cm;
            }
            @top-center {
                background: #2a3f54;
                content: '';
                display: block;
                height: .05cm;
                opacity: .5;
                width: 100%;
            }
            @top-right {
                content: '{{vars.name}}';
                font-size: 9pt;
                height: 1cm;
                vertical-align: middle;
                width: 100%;
            }

            @bottom-right {
                content: '{% trans "Date" %}: {% now "SHORT_DATETIME_FORMAT" %}';
                font-size: 9pt;
                height: 1cm;
                vertical-align: middle;
                width: 100%;
            }
        }

        body {
            font-size: 12px;
            line-height: 1.7em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left !important;
            font-weight: bold;
            padding: 15px 0;
            line-height: 1.1em;
        }

        h1 {
            font-size: 200%;
        }

        h2 {
            font-size: 160%;
        }

        h3 {
            font-size: 140%;
        }

        h4 {
            font-size: 120%;
        }

        h5 {
            font-size: 100%;
        }

        h6 {
            font-size: 100%;
        }
    </style>
</head>

<body>
    <!-- HTML Content -->
    {% block content %}
    {% endblock %}
</body>

</html>
