{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-add-members-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Add members" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Select the member you want to edit" %}</p>
                <ul>
                {% for member in new_members %}
                <li><a href="{% url 'society_manager:members-create' member.id %}">{{ member }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>
