{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-archive-used-services-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Archive Service" %}</h4>
            </div>
            <div class="modal-body">
                <h4>{% trans "Warning!" %}</h4>
                {% blocktrans %}
                <p>You're about to archive a service</p>
                <p><b>Remember that related data will be archived as well! Only administrative accounts can see them in
                        the future.</b></p>
                {% endblocktrans %}
                <!--data for Js scripts-->
                <input
                    type="hidden"
                    id="idService"
                    name="variable"
                    value=""
                >
                <input
                    type="hidden"
                    id="idMember"
                    name="variable"
                    value="{{ form_member.instance.id }}"
                >
            </div>
            <div class="modal-footer">
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <button
                    href="{% url 'society_manager:used-services-archive' %}"
                    class="request-ok btn btn-danger btn-sm"
                    type="button"
                >{% trans "Yes, archive it!" %}</button>
            </div>
        </div>
    </div>
</div>
