{% extends 'society_manager/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static string_extensions crispy_forms_tags widget_tweaks %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
<script type="text/javascript">
    var $all_services_columns = Array();
    {% for column in all_services %}
        $all_services_columns.push("{{ column.name|safe }}");
    {% endfor %}

    var $used_services_columns = Array();
    {% for column in used_services %}
        $used_services_columns.push("{{ column.service.name|safe }}");
    {% endfor %}

</script>
{% endblock %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        {% if form_member.instance.id %}
        <h2>{{ form_member.instance.nr }} / {{ form_member.instance.company }}</h2>
        <button
            form="memberform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 3px;"
            type="submit"
            name="save-signal"
        >{% trans "Save" %}</button>
        <button
            form="memberform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px;"
            type="submit"
            name="update-signal"
        >{% trans "Update" %}</button>
        <div
            class="btn-group float-right"
            style="margin-right: 5px;"
        >
            <button
                class="btn btn-danger btn-sm"
                type="button"
                data-target=".bs-archive-member-modal-lg"
                data-toggle="modal"
            ><i class="fa fa-archive"></i> {% trans "Archive" %}</button>
            <a
                class="btn btn-secondary btn-sm float-right"
                style="margin-left: 20px"
                href="{% url 'society_manager:members-view' form_member.instance.id %}"
            ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
        </div>
        {% else %}
        <button
            form="memberform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            type="submit"
            name="save-signal"
        >{% trans "Create" %}</button>
        <button
            form="memberform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            type="reset"
            name="save-signal"
        >{% trans "Clear form" %}</button>
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-left: 5px"
            href="{% url 'society_manager:members-list' %}"
        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        {% if form_member.errors %}
        <div class="alert alert-danger">
            {% trans "Main" %}: </p>
            {% for field in form_member %}
            {% if field.errors and common_data.main_tab_form_fields|split:','|iexact:field.name %}
            <ul>
                <li>{{ field.label|striptags }} => <b>{{ field.errors|striptags }}</b>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        <div class="alert alert-warning">
            {% trans "Payment data" %}: </p>
            {% for field in form_member %}
            {% if field.errors and common_data.payment_tab_form_fields|split:','|iexact:field.name %}
            <ul>
                <li>{{ field.label|striptags }} => <b>{{ field.errors|striptags }}</b>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>

        {% if form_prospect.non_field_errors %}
        <div class="alert alert-warning">
            {{ form_prospect.non_field_errors }}
        </div>
        {% endif %}
        {% endif %}
        <!-- /.form_member.errors -->
        <div
            class=""
            role="tabpanel"
            data-example-id="togglable-tabs"
        >
            <ul
                id="myTab"
                class="nav nav-tabs bar_tabs"
                role="tablist"
            >
                <li
                    role="presentation"
                    class="nav-item active"
                ><a
                        href="#tab_content1"
                        id="main-tab"
                        role="tabpanel"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Main" %}</a>
                </li>
                {% if appsettings.show_members_payment_data %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content2"
                        role="tabpanel"
                        id="payment-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Payment data" %}</a>
                </li>
                {% endif %}
                {% if appsettings.show_members_services %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content3"
                        role="tabpanel"
                        id="used-services-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "used_services_field" %}</a>
                </li>
                {% endif %}
            </ul>

            <form
                id="memberform"
                method='post'
                action="{% if form_member.instance.id %} {% url 'society_manager:members-edit' form_member.instance.id %} {% else %} {% url 'society_manager:members-create' form_member.instance.company.id %} {% endif %}"
                role="form"
                novalidate
            >{% csrf_token %}
                <!--data for Js scripts-->
                <input
                    type="hidden"
                    id="idMember"
                    name="variable"
                    value="{{ form_member.instance.id }}"
                >
                <div
                    id="myTabContent"
                    class="tab-content"
                >
                    <div
                        role="tabpanel"
                        class="tab-pane fade active in"
                        id="tab_content1"
                        aria-labelledby="main-tab"
                    >
                        <div class="row">
                            <!--Status-->
                            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            </div>
                            <!-- /Status -->
                            <!-- Body -->
                            <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                                {% include 'society_manager/includes/member_main_editable_form.html' %}
                            </div>
                            <!-- /Body -->
                        </div>

                        <div class="col-12 form-group">
                            <div class="ln_solid"></div>
                        </div>
                    </div>

                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="tab_content2"
                        aria-labelledby="payment-tab"
                    >
                        <div class="row">
                            <!--Status-->
                            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            </div>
                            <!-- /Status -->
                            <!-- Body -->
                            <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                                {% include 'society_manager/includes/member_payment_editable_form.html' %}
                            </div>
                            <!-- /Body-->
                        </div>
                    </div>

                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="tab_content3"
                        aria-labelledby="used-services-tab"
                    >
                        <div class="row">
                            <!--Status-->
                            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            </div>
                            <!-- /Status -->
                            <!-- Body -->
                            <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                                {% include 'society_manager/includes/member_list_used_services_editable.html' %}
                            </div>
                            <!-- /Body-->
                        </div>
                    </div>
                </div>
            </form>
            <!-- Include all templates for modal dialogs outside the form. This prevents
                 unwanted behaviour with AJAX POST methods -->
            {% include "society_manager/members/archive_modal_member.html" %}
            {% include "society_manager/members/create_edit_modal_used_service.html" %}
            {% include "society_manager/members/archive_modal_used_service.html" %}
        </div>
    </div>
</div>
{% endblock %}
