{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n crispy_forms_tags crispy_forms_field widget_tweaks %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-create-edit-used-services-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Add Service" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Select the service you want to add" %}</p>
                {% if vars.debug == True%}
                {% if form_services.errors %}
                <div class="alert alert-danger">
                    {{ form_services.errors }}
                </div>
                {% endif %}
                {% endif %}

                <form
                    id="serviceform"
                    role="form"
                    novalidate
                >{% csrf_token %}
                    {% for field in form_services %}
                    {% if field.name == 'member' %}
                    {{ field|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
                    {% else %}
                    {{ field|as_crispy_field }}
                    {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary btn-sm float-right"
                    style="margin-left: 20px"
                    type="reset"
                >{% trans "Clear form" %}</button>
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <button
                    href="{% url 'society_manager:used-services-create-edit' %}"
                    class="request-ok btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
