{% extends 'society_manager/base_export.html' %}

{% comment %}
Copyright (C) 2018 - 2020 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load l10n i18n core_settings_data %}

{% block title %}
{% site_vars as vars %} {{vars.name}}: {{ title }}
{% endblock %}

{% block content %}
{% app_settings as appsettings %}
{% site_vars as vars %}
<style>
        @page {
            @bottom-left {
                content: '{{vars.name}}: {{ title|safe }}';
                font-size: 9pt;
                height: 1cm;
                vertical-align: middle;
                width: 100%;
            }
        }
</style>

<!-- Content for Static Frame 'header_frame' -->
<h1
    id="header_content"
    style="text-decoration: underline;"
>{{vars.name}}: {{ title }}</h1>

<div id="content">
    <h2>{% trans "Member data" %}</h2>
    <table>
        {% trans "company_field" as company_field %}
        {% for field, value in member_json.items %}
        {% if field != company_field %}
        <tr>
            <td style="width: 25%;">
                <strong>{{ field }}:</strong>
            </td>
            <td style="width: 75%;">
                {% if value == "None" %}
                {% trans "None" %}
                {% elif value == "False" %}
                {% trans "No" %}
                {% elif value == "True" %}
                {% trans "Yes" %}
                {% else %}
                {{ value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <p style="page-break-before: always" ></p>

    <h2>{% trans "Main" %}</h2>
    <table>
        {% for field, value in company_json.items %}
        <!-- prospect_name_field -->
        {% if forloop.counter0 == 0 %}
        <tr>
            <td
                style="width: 25%;"
                valign="top"
            >
                <strong>{% trans "address_field" %}:</strong>
            </td>
            <td>
                {% trans "Letter Company" %} {{ value }}<br />
                <!-- additional_name_field -->
                {% elif forloop.counter0 == 1 and value and value != "None" %}
                {{ value }}<br />
                <!-- add text c/o -->
                {% elif forloop.counter0 == 2 %}
                {% trans "c/o" %}
                <!-- contact_title_field -->
                {% if value and value != "None" %}
                {{ value }}
                {% endif %}
                <!-- contact_first_name_field -->
                {% elif forloop.counter0 == 3 and value and value != "None" %}
                {{ value }}
                <!-- contact_last_name_field -->
                {% elif forloop.counter0 == 4 and value and value != "None" %}
                {{ value }}
                <!-- address_field -->
                {% elif forloop.counter0 == 5 and value and value != "None" %}
                <br />{{ value }}<br />
                <!-- zipcode_field -->
                {% elif forloop.counter0 == 6 and value and value != "None" %}
                {{ value }}
                <!-- location_field -->
                {% elif forloop.counter0 == 7 and value and value != "None" %}
                {{ value }}
                <!-- country_field -->
                {% elif forloop.counter0 == 8 and value and value != "None" %}
                / {{ value }}
                {% elif forloop.counter0 == 9 %}
            </td>
        </tr>
        {% elif forloop.counter0 > 9 %}
        <tr>
            <td style="width: 25%;">
                <strong>{{ field }}:</strong>
            </td>
            <td style="width: 75%;">
                {% if value == "None" %}
                {% trans "None" %}
                {% elif value == "False" %}
                {% trans "No" %}
                {% elif value == "True" %}
                {% trans "Yes" %}
                {% else %}
                {{ value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    {% if appsettings.show_members_services %}
        <p style="page-break-before: always" ></p>

        <h2>{% trans "used_services_field" %}</h2>
        {% if services %}
        <table>
            <tr>
                <th style="text-align: left;">{% trans "name_field" %}</th>
                <th style="text-align: left;">{% trans "description_field" %}</th>
                <th style="text-align: left; width: 80px;">{% trans "is_checked_field" %}</th>
                <th style="text-align: left; width: 80px;">{% trans "is_archived_field" %}</th>
                <th style="text-align: left; width: 160px;">{% trans "updated_field" %}</th>
            </tr>
            {% for used_services in services %}
            <tr>
                {% for field, value in used_services.as_json.items %}
                <td style="text-align: left;">{% if value == "None" %}
                    {% trans "None" %}
                    {% elif value == "False" %}
                    {% trans "No" %}
                    {% elif value == "True" %}
                    {% trans "Yes" %}
                    {% else %}
                    {{ value }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>{% trans "No used services available." %}</p>
        {% endif %}
    {% endif %}

    <p style="page-break-before: always" ></p>

    <h2>{% trans "Comments data" %}</h2>
    {% if comments %}
    <table>
        <tr>
            <th style="text-align: left;">{% trans "created_field" %}</th>
            <th style="text-align: left;">{% trans "user_field" %}</th>
            <th style="text-align: left;">{% trans "comment_field" %}</th>
        </tr>
        {% for comm in comments %}
            {%if not comm.is_private %}
            <tr>
                <td style="width: 25%;">{{ comm.created|localize }}</td>
                <td style="width: 10%;">{{ comm.user_rel.username }}
                <td style="width: 65%;">{{ comm.comment }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <p>{% trans "No comments available." %}</p>
    {% endif %}
</div>
{% endblock %}
