{% extends 'society_manager/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load static i18n core_settings_data %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>{% trans "List of members" %}</h2>
                {% if new_members|length > 0 %}
                <span><a
                        class="text-danger"
                        href="#"
                        data-target=".bs-add-members-modal-lg"
                        data-toggle="modal"
                    >
                        <h4>
                            {% blocktrans count new_members|length as variable_name %}
                            ({{ variable_name }} new member needs to set up)
                            {% plural %}
                            ({{ variable_name }} new members need to set up)
                            {% endblocktrans %}
                        </h4>
                </span>
                </a>
                {% include "society_manager/members/add_modal_members.html" %}
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table">
                    <table
                        id="dataTables-members"
                        class="table table-striped jambo_table nowrap"
                        cellspacing="0"
                        width="100%"
                    >
                        <thead>
                            <tr class="headings">
                                <th></th>
                                <th></th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "member_nr_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "company_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "additional_name_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "contact_person_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "country_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "zipcode_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "location_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "address_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "mobile_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "phone_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "fax_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "email_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "issue_date_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "exit_date_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "payment_due_date_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "basic_subscription_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "is_paying_field" %}</th>
                                <th
                                    class="text-center"
                                    style="vertical-align:middle"
                                >{% trans "is_active_field" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
