{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags crispy_forms_field widget_tweaks %}

<div class="form-row">
    <div class="form-group col-md-5 mb-0">
        {{ form_member.accounts_receivable_nr|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_member.enrollment_fee|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_member.basic_subscription|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3 mb-0">
        {{ form_member.payment_type|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_member.payment_interval|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div id="div_{{ form_member.payment_due_date.id_for_label }}" class="form-group col-6 mb-0">
        <label class="col-form-label" for="{{ form_member.payment_due_date.id_for_label }}">{{ form_member.payment_due_date.label }}</label>
        <div class="form-inline">
            {% crispy_field form_member.payment_due_date 'class' 'form-control col-md-3 mr-2' 'readonly' 'true' 'disabled' 'true' %}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_member.sepa_bank_name|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_member.sepa_account_name|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form_member.sepa_iban|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_member.sepa_bic|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
