{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

<div class="row">
    <div class="col-md-12 offset-0">
        <div class="card-body">
            <table
                id="dataTables-used-services"
                class="table table-striped nowrap"
                cellspacing="0"
                width="100%"
            >
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-left">{% trans "service_field" %}</th>
                        <th class="text-left">{% trans "description_field" %}</th>
                        <th class="text-center">{% trans "is_checked_field" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for used_service in used_services %}
                    <tr class="odd gradeX">
                        <td></td>
                        <td class="text-left">{{ used_service.service.name }}</td>
                        <td class="text-left">{% if used_service.description %}
                            {{ used_service.description }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}</td>
                        <td class="text-center">{% if used_service.is_checked == True %}<i class="fa fa-check"></i>
                            {% else %}<i class="fa fa-times"></i>{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">{% trans "No used services available." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.col-lg-12 -->
</div>
