{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags crispy_forms_field widget_tweaks %}

<div class="form-row">
    <div class="form-group col-md-5 mb-0">
        {{ form_member.accounts_receivable_nr|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_member.enrollment_fee|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_member.basic_subscription|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3 mb-0">
        {{ form_member.payment_type|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_member.payment_interval|as_crispy_field }}
    </div>
    <div id="div_{{ form_member.payment_due_date.id_for_label }}" class="form-group col-6 mb-0">
        <label class="col-form-label" for="{{ form_member.payment_due_date.id_for_label }}">{{ form_member.payment_due_date.label }}</label>
        <div class="form-inline">
            {% if form_member.payment_due_date.errors %}
            {% crispy_field form_member.payment_due_date 'class' 'form-control col-md-3 mr-2 is-invalid' %}
            {% else %}
            {% crispy_field form_member.payment_due_date 'class' 'form-control col-md-3 mr-2' %}
            {% endif %}
        </div>
        {% if form_member.payment_due_date.errors %}
        {% for error in form_member.payment_due_date.errors %}
        <span id="error_{{ forloop.counter }}_{{ form_member.payment_due_date.id_for_label }}" class="invalid-feedback" style="display:block">
            <strong>{{ error }}</strong>
        </span>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_member.sepa_bank_name|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_member.sepa_account_name|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form_member.sepa_iban|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_member.sepa_bic|as_crispy_field }}
    </div>
</div>
