{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags crispy_forms_field widget_tweaks core_settings_data blog_tags %}

<div class="form-row">
    <div class="form-group col-md-3 mb-0">
        {{ form_member.nr|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-9 mb-0">
        {{ form_member.company|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
        <button
            href="{% url 'society_manager:tickets-auto-create' %}"
            class="company-edit btn btn-outline btn-xs float-right"
            type="button"
            style="position: absolute; top: 5%; right: 0%;"
        ><i
                class="fa fa-pencil-square-o"
                aria-hidden="true"
            ></i></button>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form_member.issue_date|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form_member.exit_date|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12 mb-0">
        {{ form_member.recommendation|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6 mb-0">
        {{ form_member.membership|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form_member.consultant|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="col-12 form-group">
        <label>{% trans "labels_field" %}:</label>
    </div>
    <div class="col-12 form-group">
        {% all_labels_of_prospect_or_member form_member as labels %}
        {% for label in labels %}
        <a href="{% url 'society_manager:tickets-list-label' label|escape_raw %}">
            <span class="tag">
                <span>{{ label }}</span>
            </span>
        </a>
        {% endfor %}
    </div>
</div>
<div class="form-row">
    <div class="col-12 form-group">
        {{ form_member.notes|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2 mb-0">
        {{ form_member.is_active|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_member.is_paying|append_attr:'readonly:true'|append_attr:'disabled:true'|as_crispy_field }}
    </div>
</div>