{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags crispy_forms_field widget_tweaks %}

<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_prospect.sepa_bank_name|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-7 mb-0">
        {{ form_prospect.sepa_account_name|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form_prospect.sepa_iban|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_prospect.sepa_bic|as_crispy_field }}
    </div>
</div>
