{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load l10n i18n %}
<script type="text/javascript">
    // set additional vars for AJAX calls
    var $url_name = '{{ url_name }}'
    var $requested_label = '{{ requested_label|safe }}'
    var $requested_state_id = '{{ requested_state_id }}'
    var $requested_queue_id = '{{ requested_queue_id }}'
    var $requested_subject = '{{ requested_subject }}'
    var $requested_body = '{{ requested_body }}'
    var $requested_comment = '{{ requested_comment }}'
    var $requested_assigned_company = '{{ requested_assigned_company }}'
    var $requested_assigned_state = '{{ requested_assigned_state }}'
    var $requested_assigned_user = '{{ requested_assigned_user }}'
    var $requested_create_user = '{{ requested_create_user }}'
    var $requested_active_member = '{{ requested_active_member }}'

</script>

<table
    id="dataTables-tickets"
    class="table table-striped jambo_table nowrap"
    cellspacing="0"
    width="100%"
>
    <thead>
        <tr class="headings">
            <th></th>
            <th></th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "ID" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "subject_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "company_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "assigned_state_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "assigned_queue_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "create_user_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "created_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "updated_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "pending_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "assigned_user_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle; padding-right: 40px;"
            >{% trans "percentage_field" %} %</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "assigned_prio_field" %}</th>
            <th
                class="text-center"
                style="vertical-align:middle"
            >{% trans "Active Member" %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
