{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load l10n i18n static %}

<div
    class="row"
    id="comment"
>
    <div class="col-sm-1">

        {% if comm.user_rel.avatar %}
        <img
            alt="Avatar"
            class="avatar"
            src="{{ comm.user_rel.avatar.url }}"
        >
        {% else %}
        <img
            alta="Avatar"
            class="avatar"
            src="{% static 'society_manager/img/user.png' %}"
        >
        {% endif %}

    </div><!-- /col-sm-1 -->

    <div class="col-sm-11">
        <div class="card card-default">
            <div class="card-header">
                <strong>{{ comm.user_rel.username }}</strong>
                <span class="text-muted">
                    {% if comm.is_mailed %}
                    {% trans "sent E-Mail on" %}
                    {% else %}
                    {% trans "commented on" %}
                    {% endif %} {{ comm.created|localize }}
                </span>
                <span class="feature-icon" aria-hidden="true">
                    {% if comm.is_private %} <i class="fa fa-eye-slash"></i> {% else %} <i class="fa fa-eye"></i> {% endif %}
                </span>
                <input
                    type="hidden"
                    id="idPMessage"
                    name="idPMessage"
                    value="{{ comm.id }}"
                >
                {% if request.user.is_superuser %}
                <button
                    href="#"
                    class="archive-message btn btn-xs btn-danger float-right"
                    onClick="return false;"
                ><i class="fa fa-archive"></i></button>
                {% elif request.user.id == comm.user_rel.id %}
                <button
                    class="request-archive-message btn btn-xs btn-danger float-right"
                    type="button"
                    data-target=".bs-archive-comment-modal-lg"
                    data-toggle="modal"
                    data-comment-id="{{ comm.id }}"
                ><i class="fa fa-ticket"></i></button>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="content-markdown-old">
                    {{ comm.comment }}
                </div>
            </div><!-- /card-body -->
        </div><!-- /card card-default -->
    </div><!-- /col-sm-5 -->
</div><!-- /row -->
