{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load l10n i18n static %}

<tr>
    <td>{{ mk.id }}</td>
    <td>
        <a>{{ mk.subject }}</a>
        <br>
        <small>{{ mk.created|localize }}</small>
    </td>
    <td>
        {{ mk.body }}
    </td>

    <td class="project_progress">
        <div class="progress progress_sm">
            <div
                data-transitiongoal="{{ mk.percentage }}"
                role="progressbar"
                class="progress-bar bg-green"
                style="width: 45%;"
                aria-valuenow="{{ mk.percentage }}"
            ></div>
        </div>
        <small>{{ mk.percentage }}% {% trans "Complete" %}</small>
    </td>
    <td>
        <!--<button class="btn btn-success btn-xs" type="button">Success</button>-->
        <span
            class="badge"
            style="background-color:#{{ mk.assigned_state.color }}; color: black;"
        >{{ mk.assigned_state }}</span>
    </td>
    <td id="buttons">
        <input
            type="hidden"
            id="idmk"
            name="idmk"
            value="{{ mk.id }}"
        >
        <a
            class="btn btn-info btn-xs edit-mk"
            href="#"
            data-url="{% url 'society_manager:tickets-get-microtask' mk.id %}"
        ><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
        <a
            class="btn btn-danger btn-xs archive-mk"
            href="#"
            data-url="{% url 'society_manager:tickets-archive-microtasks' %}"
        ><i class="fa fa-archive"></i> {% trans "Archive" %}</a>
    </td>
</tr>
