{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static core_settings_data %}

<div class="col-12 mb-3">
    <div class="form-group">
        <label>{% trans "Uploaded files" %}:</label>
        <div class="row row-0-gutter">
            <div class="col-12 col-0-gutter">
                {% for doc in actual_files %}
                <a
                    href="{{ doc.file_name.url }}"
                    target="_blank"
                    class="btn btn-sm btn-info"
                    style="margin: 0 5px 10px 0;"
                    download
                >
                    {{ doc.file_name|filename_text }}
                </a>
                {% empty %}
                {% trans "No attachment files found." %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
