{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load i18n static %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 offset-0">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-file-code-o"></i> {% trans "Manage rights" %}</h3>
            </div>
            <div class="title_right">
                <a
                    href="{% url 'society_manager:right-create' %}"
                    class="btn btn-outline btn-primary btn-sm float-right"
                ><i class="fa fa-plus"></i> {% trans "Add right" %}</a>
            </div>
        </div>
    </div>

    <div class="col-md-12 offset-0">
        <div class="x_panel">
            <!-- /.card-header -->
            <div class="card-body">
                <table
                    id="dataTables-rights"
                    class="table table-striped table-bordered nowrap"
                    cellspacing="0"
                    width="100%"
                >
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "ID" %}</th>
                            <th class="text-center">{% trans "grp_src_field" %}</th>
                            <th class="text-center">{% trans "queue_dst_field" %}</th>
                            <th class="text-center">{% trans "can_view_field" %}</th>
                            <th class="text-center">{% trans "can_create_field" %}</th>
                            <th class="text-center">{% trans "can_archive_field" %}</th>
                            <th class="text-center">{% trans "can_edit_field" %}</th>
                            <th class="text-center">{% trans "can_comment_field" %}</th>
                            <th class="text-center">{% trans "is_enabled_field" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for right in rights_list %}
                        <tr class="odd gradeX">
                            <td></td>
                            <td><a href="{% url 'society_manager:right-edit' right.id %}">{{ right.id }}</a></td>
                            {% if right.grp_src %}
                            <td class="text-center">{{ right.grp_src }}</td>
                            {% else %}
                            <td class="text-center">-</td>
                            {% endif %}
                            {% if right.queue_dst %}
                            <td class="text-center">{{ right.queue_dst }}</td>
                            {% else %}
                            <td class="text-center">-</td>
                            {% endif %}
                            {% if right.can_view %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            {% endif %}
                            {% if right.can_create %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            {% endif %}
                            {% if right.can_archive %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            {% endif %}
                            {% if right.can_edit %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            {% endif %}
                            {% if right.can_comment %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            {% endif %}
                            {% if right.is_enabled %}
                            <td class="text-center"><i class="fa fa-check-circle "></i></td>
                            {% else %}
                            <td class="text-center"><i class="fa fa-minus-circle "></i></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->

            <div class="row">
                <div class="">
                    <div class="form-group">
                        <!--submit-->

                        <div class="ln_solid"></div>
                        <a
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-left: 20px"
                            href="{% url 'society_manager:tickets-settings' %}"
                        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
