{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 - 2019 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load i18n static core_settings_data crispy_forms_tags widget_tweaks %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}
{% site_vars as vars %}
<div class="x_panel">
    <div class="x_title">
        {% if request.resolver_match.url_name == 'state-create' %}
        <h2><i class="fa fa-flag-o fa-fw"></i> {% trans "New State" %}</h2>
        {% else %}
        <h2><i class="fa fa-flag-o fa-fw"></i> {% trans "Edit State" %}</h2>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        {% if vars.debug == True%}
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
        {% endif %}

        <form
            method='post'
            action="{% if form.instance.id %} {% url 'society_manager:state-edit' form.instance.id %} {% else %} {% url 'society_manager:state-create' %} {% endif %}"
            role="form"
            novalidate
        >{% csrf_token %}
            {% for field in form %}
            {% if field.name == 'color' %}
            {{ field|append_attr:'data-format:hex'|as_crispy_field }}
            {% elif field.name != 'is_archived' %}
            {{ field|as_crispy_field }}
            {% endif %}
            {% endfor %}

            <!--line separator for buttons -->

            <div class="row">
                <div class="">
                    <div class="form-group">
                        <div class="ln_solid"></div>
                        <a
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-left: 20px"
                            href="{% url 'society_manager:state-list' %}"
                        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
                        <button
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-right: 20px"
                            type="submit"
                        >{% trans "Save" %}</button>
                        {% if form.instance.id %}
                        <a
                            class="btn btn-danger btn-sm float-right"
                            style="margin-left: 20px"
                            href="#"
                            data-target=".bs-archive-state-modal-lg"
                            data-toggle="modal"
                        ><i class="fa fa-archive"></i> {% trans "Archive" %}</a>
                        {% else %}
                        <button
                            class="btn btn-secondary btn-sm float-right"
                            style="margin-left: 20px"
                            type="reset"
                        >{% trans "Clear form" %}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <!-- Include all templates for modal dialogs outside the main form. This prevents
             unwanted behaviour with AJAX POST methods -->
        {% include "society_manager/states/archive_modal_state.html" %}
    </div>
</div>
{% endblock %}
