{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load crispy_forms_field %}

{% if field.is_hidden %}
{{ field }}
{% else %}
<div
    id="div_{{ field.id_for_label }}"
    class="form-group"
>
    <label
        class="col-form-label{% if field.field.required %} requiredField{% endif %}"
        for="{{ field.id_for_label }}"
    >
        {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    <div class="form-inline">
        {% if field.errors %}
        {% crispy_field field 'class' 'form-control is-invalid' %}
        {% else %}
        {% crispy_field field 'class' 'form-control' %}
        {% endif %}
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <span
        id="error_{{ forloop.counter }}_{{ field.id_for_label }}"
        class="invalid-feedback"
        style="display:block"
    >
        <strong>{{ error }}</strong>
    </span>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
