{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-archive-comment-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Create request" %}</h4>
            </div>
            <div class="modal-body">
                <h4>{% trans "Information" %}</h4>
                {% blocktrans %}
                <p>You're about to request the archiving of a comment.</p>
                <p>The administrator will receive your notification, because you have no right to archive the comment by
                    yourself. Please give a short note on your request:</p>
                {% endblocktrans %}
                <input
                    id="request-input"
                    type="text"
                    class="input Input form-control"
                    placeholder="{% trans 'Why are you requesting this action?' %}"
                ></input>
            </div>
            <div class="modal-footer">
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <button
                    href="{% url 'society_manager:tickets-auto-create' %}"
                    class="request-ok btn btn-danger btn-sm"
                    type="button"
                >{% trans "Yes, request it!" %}</button>
            </div>
        </div>
    </div>
</div>
