{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags %}

<div
    class="modal fade"
    id="company_modal"
    role="dialog"
    aria-labelledby="companyModalLabel"
    data-backdrop="false"
>
    <div
        class="modal-dialog"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                ><span aria-hidden="true">&times;</span></button>
                <h4
                    class="modal-title"
                    id="companyModalLabel"
                >{% trans "Add new company" %}</h4>
            </div>

            <div class="modal-body">
                <div class="messages">
                    <!-- Here is the space for messages -->
                </div>
                {% crispy form_prospect %}
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-dismiss="modal"
                >{% trans "Close" %}</button>
                <button
                    id="add-company"
                    type="button"
                    class="btn btn-primary btn-sm"
                >{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
