{% comment %}
  Copyright (C) 2018 dsoft-app-dev.de and friends.

  This Program may be used by anyone in accordance with the terms of the
  German Free Software License

  The License may be obtained under http://www.d-fsl.org.

  Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n %}

<div
    class="modal fade"
    id="microtask_modal"
    role="dialog"
    aria-labelledby="mkModalLabel"
    data-backdrop="false"
>
    <div
        class="modal-dialog"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                ><span aria-hidden="true">&times;</span></button>
                <h4
                    class="modal-title"
                    id="mkModalLabel"
                >{% trans "Add new microtask" %}</h4>
            </div>

            <div class="modal-body">
                <label class="required" for="message">{% trans "Task" %}</label>
                <input
                    id="subject_mk"
                    name="subject_mk"
                    type="text"
                    placeholder="{% trans 'Little task description' %}"
                    class="form-control"
                >

                <label class="required" for="message">{% trans "Description" %}</label>
                <textarea
                    id="body_mk"
                    name="body_mk"
                    data-parsley-maxlength="100"
                    data-parsley-trigger="keyup"
                    class="form-control"
                    placeholder="{% trans 'Some more details...' %}"
                ></textarea>

                <label class="required" for="message">{% trans "State" %}</label>
                <select
                    class="form-control pointer"
                    id="state_mk"
                    name="state_mk"
                >
                    {% for status in common_data.status_info %}
                    {% if status.id == form_ticket.instance.assigned_state.id %}
                    <option
                        value="{{ status.id }}"
                        selected
                    >{{ status }}</option>
                    {% else %}
                    <option value="{{ status.id }}">{{ status }}</option>
                    {% endif %}
                    {% endfor %}
                </select>


                <label for="message">{% trans "Percentage" %}</label>
                <input
                    type="text"
                    name="percentage_mk"
                    id="percentage_mk"
                    class="range_new_mk"
                    value=""
                />
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-dismiss="modal"
                >{% trans "Close" %}</button>
                <button
                    type="button"
                    class="btn btn-primary btn-sm add-microtask"
                    data-url="{% url 'society_manager:tickets-add-microtask' form_ticket.instance.id %}"
                >{% trans "Save" %}</button>
            </div>

        </div>
    </div>
</div>
