{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static core_settings_data crispy_forms_tags blog_tags %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% if form_ticket.instance.id %}
<script>
    // set urls for AJAX calls
    var set_percentage_url = "{% url 'society_manager:tickets-set-percentage' form_ticket.instance.id %}";
    var get_percentage_url = "{% url 'society_manager:tickets-get-percentage' form_ticket.instance.id %}";
    var get_microtasks_url = "{% url 'society_manager:tickets-get-microtasks' form_ticket.instance.id %}";
    var archive_microtasks_url = "{% url 'society_manager:tickets-archive-microtasks' %}";
    var render_mail_url = "{% url 'society_manager:tickets-render-mail' form_ticket.instance.id %}";

</script>
{% endif %}

<script>
    // build members array for select2 combobox
    {% all_members as members %}
    var $members = [];
    {% for member in members %}
    $members.push("{{member|safe}}");
    {% endfor %}

    // string for appending to select2 combobox
    var $members_text = '({% trans "is already a member" %})';

</script>
{% endblock %}

{% block content %}
{% app_settings as appsettings %}

<div class="x_panel">
    <div class="x_title">
        {% if form_ticket.instance.id %}
        <h2>{% trans "Edit ticket" %} #{{ form_ticket.instance.nr }}
            {% if form_ticket.instance.needs_to_send_mail %}
            <i
                data-target=".bs-send-mail-modal-lg"
                data-toggle="modal"
                class="message-to-mail text-danger fa fa-paper-plane"
                title="{% trans "Mail wasn't sent to prospect yet!" %}"
            ></i>
            {% endif %}
        </h2>
        <button
            form="ticketform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 3px;"
            type="submit"
            name="save-signal"
        >{% trans "Save" %}</button>
        <button
            form="ticketform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px;"
            type="submit"
            name="update-signal"
        >{% trans "Update" %}</button>
        <div
            class="btn-group float-right"
            style="margin-right: 5px;"
        >
            <button
                class="btn btn-danger btn-sm"
                type="button"
                data-target=".bs-archive-ticket-modal-lg"
                data-toggle="modal"
            ><i class="fa fa-archive"></i> {% trans "Archive" %}</button>
            <a
                class="btn btn-secondary btn-sm float-right"
                style="margin-left: 20px"
                href="{% url 'society_manager:tickets-view' form_ticket.instance.id %}"
            ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
        </div>
        {% else %}
        <h2>{% trans "New ticket" %} #{{ form_ticket.instance.nr }}</h2>
        <button
            form="ticketform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            type="submit"
            name="save-signal"
        >{% trans "Create" %}</button>
        <button
            form="ticketform"
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            type="reset"
            name="save-signal"
        >{% trans "Clear form" %}</button>
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-left: 5px"
            href="{% url 'society_manager:tickets-list' %}"
        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        {% if form_ticket.errors %}
        <div class="alert alert-danger">
            {% trans "Main" %}: </p>
            {% for field in form_ticket %}
            {% if field.errors %}
            <ul>
                <li>{{ field.label|striptags }} => <b>{{ field.errors|striptags }}</b>
                </li>
            </ul>
            {% endif %}
            {% endfor %}

            {% if form_ticket.non_field_errors %}
            {{ form_ticket.non_field_errors }}
            {% endif %}
        </div>
        {% endif %}

        {% if form_prospect.errors %}
        <div class="alert alert-warning">
            {% trans "Company" %}: </p>
            {% for field in form_prospect %}
            {% if field.errors %}
            <ul>
                <li>{{ field.label|striptags }} => <b>{{ field.errors|striptags }}</b>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if form_attach.errors %}
        <div class="alert alert-warning">
            {% trans "Attachments" %}: </p>
            {% for field in form_attach %}
            {% if field.errors %}
            [ {{ field.label|striptags }} => <b>{{ field.errors|striptags }}</b>
            ]
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- /.form_ticket.errors -->
        <div
            class=""
            role="tabpanel"
            data-example-id="togglable-tabs"
        >
            <ul
                id="myTab"
                class="nav nav-tabs bar_tabs"
                role="tablist"
            >
                <li
                    role="presentation"
                    class="nav-item active"
                ><a
                        href="#tab_content1"
                        id="main-tab"
                        role="tabpanel"
                        data-target="#tab_content1, #tab_content5"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Main" %}</a></li>
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content2"
                        id="company-tab"
                        role="tabpanel"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Company" %}</a></li>
                {% if appsettings.show_microtasks and form_ticket.instance.id %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content3"
                        role="tabpanel"
                        id="microtask-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Microtasks" %}</a></li>
                {% endif %}
                {% if appsettings.show_log and form_ticket.instance.id %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content4"
                        role="tabpanel"
                        id="log-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Log" %}</a></li>
                {% endif %}
            </ul>

            <form
                id="ticketform"
                method='post'
                action="{% if form_ticket.instance.id %} {% url 'society_manager:tickets-edit' form_ticket.instance.id %} {% else %} {% url 'society_manager:tickets-create' %} {% endif %}"
                role="form"
                enctype="multipart/form-data"
                novalidate
            >{% csrf_token %}
                <!--data for Js scripts-->
                <input
                    type="hidden"
                    id="idTicket"
                    name="variable"
                    value="{{ form_ticket.instance.id }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-nr"
                    name="ticket-nr"
                    value="{{ form_ticket.instance.nr }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-fsm_state"
                    name="ticket-fsm_state"
                    value="{{ form_ticket.instance.fsm_state }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-can_send_mail"
                    name="ticket-can_send_mail"
                    value="{{ form_ticket.instance.can_send_mail }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-needs_to_send_mail"
                    name="ticket-needs_to_send_mail"
                    value="{{ form_ticket.instance.needs_to_send_mail }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-percentage"
                    name="ticket-percentage"
                    value="{{ form_ticket.instance.percentage }}"
                >
                <input
                    type="hidden"
                    id="count_microtask"
                    name="variable"
                    value="{{ actual_microtasks.count }}"
                >
                <div
                    id="myTabContent"
                    class="tab-content"
                >
                    <div
                        role="tabpanel"
                        class="tab-pane fade active in"
                        id="tab_content1"
                        aria-labelledby="main-tab"
                    >
                        <div class="row">
                            <!--Left side-->
                            <!--Status-->
                            <div class="tab-content-status">
                                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                    <div class="col-12">
                                        <label class="pull-center">{% trans "assigned_queue_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        <select
                                            class="form-control pointer"
                                            id="id_ticket-assigned_queue"
                                            name="ticket-assigned_queue"
                                            {% if form_ticket.instance.assigned_queue.is_changeable == False %}readonly disabled{% endif %}
                                        >
                                            {% if form_ticket.instance.id %}

                                            {% all_queues_for_user "cv_cc" as queues %}
                                            {% for queue in queues %}
                                            {% if queue.id == form_ticket.instance.assigned_queue.id %}
                                            <option
                                                value="{{ queue.id }}"
                                                selected
                                            >{{ queue }}</option>
                                            {% else %}
                                            <option value="{{ queue.id }}">{{ queue }}</option>
                                            {% endif %}
                                            {% endfor %}


                                            {% else %}
                                            {% all_queues_for_user "can_create" as queues %}
                                            {% for queue in queues %}
                                            {% if queue.id == form_ticket.instance.assigned_queue.id %}
                                            <option
                                                value="{{ queue.id }}"
                                                selected
                                            >{{ queue }}</option>
                                            {% else %}
                                            <option value="{{ queue.id }}">{{ queue }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                        {{ form_ticket.assigned_queue.errors }}
                                    </div>

                                    <div class="col-12">
                                        <label class="pull-center">{% trans "assigned_state_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        <select
                                            class="form-control pointer"
                                            id="id_ticket-assigned_state"
                                            name="ticket-assigned_state"
                                        >
                                            {% for status in common_data.status_info %}
                                            {% if status.id == form_ticket.instance.assigned_state.id %}
                                            <option
                                                value="{{ status.id }}"
                                                selected
                                            >{{ status }}</option>
                                            {% else %}
                                            <option value="{{ status.id }}">{{ status }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {{ form_ticket.assigned_state.errors }}
                                    </div>

                                    <div class="col-12">
                                        <label class="pull-center">{% trans "pending_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        <input
                                            id="id_ticket-pending"
                                            name="ticket-pending"
                                            class="form-control"
                                            value="{{ form_ticket.instance.pending|localize }}"
                                        >

                                        {{ form_ticket.pending.errors }}
                                    </div>

                                    <div class="col-12">
                                        <label class="pull-center">{% trans "created_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        {% if form_ticket.instance.id %}
                                        <input
                                            id="id_ticket-date_disabled"
                                            name="ticket-date"
                                            class="form-control"
                                            value="{{ form_ticket.instance.created|localize }}"
                                            disabled
                                        />
                                        {% else %}
                                        <input
                                            id="id_ticket-date"
                                            name="ticket-date"
                                            class="form-control"
                                            value="{{ form_ticket.instance.created|localize }}"
                                        >
                                        {% endif %}

                                        {{ form_ticket.created.errors }}
                                    </div>

                                    {% if form_ticket.instance.id %}
                                    <div class="col-12 ">
                                        <label class="pull-center">{% trans "create_user_field" %}</label>
                                    </div>
                                    <div class="col-12 ">
                                        <input
                                            class="form-control"
                                            value="{{ form_ticket.instance.str_create_user }}"
                                            disabled
                                        />
                                    </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label class="pull-center">{% trans "assigned_prio_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        <select
                                            class="form-control pointer"
                                            id="id_assigned_prio"
                                            name="ticket-assigned_prio"
                                        >
                                            {% for prio in common_data.prio_info %}
                                            {% if prio.id == form_ticket.instance.assigned_prio.id %}
                                            <option
                                                value="{{ prio.id }}"
                                                selected
                                            >{{ prio }}</option>
                                            {% else %}
                                            <option value="{{ prio.id }}">{{ prio }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {{ form_ticket.assigned_prio.errors }}
                                    </div>

                                    <div class="col-12 ">
                                        <label class="pull-center">{% trans "assigned_user_field" %}</label>
                                    </div>

                                    <div class="col-12">
                                        <select
                                            class="form-control pointer"
                                            id="id_assigned_user"
                                            name="ticket-assigned_user"
                                        >
                                            <option
                                                value=""
                                                selected
                                            >--</option>
                                            {% for user_resp in common_data.users_info %}

                                            {% if user_resp.id == form_ticket.instance.assigned_user.id %}
                                            <option
                                                value="{{ user_resp.id }}"
                                                selected
                                            >{% if user_resp.first_name and user_resp.last_name %}
                                                {{ user_resp.first_name }} {{ user_resp.last_name }}
                                                {% else %}
                                                {{ user_resp.email }}
                                                {% endif %}</option>
                                            {% else %}
                                            <option value="{{ user_resp.id }}">
                                                {% if user_resp.first_name and user_resp.last_name %}
                                                {{ user_resp.first_name }} {{ user_resp.last_name }}
                                                {% else %}
                                                {{ user_resp.email }}
                                                {% endif %}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {{ form_ticket.assigned_user.errors }}
                                    </div>
                                    <div class="col-12 ">
                                        <label class="pull-center">{% trans "percentage_field" %}</label>
                                    </div>
                                    <div class="col-12">
                                        {% if form_ticket.instance.id %}
                                        <input
                                            type="text"
                                            name="percentage"
                                            id="percentage"
                                            class="range_base_ticket"
                                            value=""
                                        />
                                        {% else %}
                                        <input
                                            type="text"
                                            name="percentage"
                                            id="percentage"
                                            class="range_base_ticket_for_submit"
                                            value=""
                                        />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- /Status -->

                            <!--Ticket body-->
                            <div class="tab-content-body">
                                <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                                    <div class="col-12">
                                        {{ form_ticket.subject|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        <label>{% trans "ticket_body_field" %}:</label>
                                    </div>
                                    <div class="col-12">
                                        <div
                                            id="myTab"
                                            class=""
                                            role="tabpanel"
                                            data-example-id="togglable-tabs"
                                        >
                                            <ul
                                                class="nav nav-tabs"
                                                role="tablist"
                                            >
                                                <li
                                                    role="presentation"
                                                    class="nav-item active in"
                                                ><a
                                                        href="#tab_content5"
                                                        id="main-tab"
                                                        role="tabpanel"
                                                        data-toggle="tab"
                                                        aria-expanded="false"
                                                    >{% trans "Write" %}</a></li>
                                                <li
                                                    role="presentation"
                                                    class="nav-item"
                                                    onclick="previewMarkdown();"
                                                ><a
                                                        href="#tab_content6"
                                                        role="tabpanel"
                                                        id="microtask-tab"
                                                        data-toggle="tab"
                                                        aria-expanded="false"
                                                    >{% trans "Preview" %}</a></li>
                                            </ul>

                                            <div
                                                id="myTabContent"
                                                class="tab-content"
                                            >
                                                <div
                                                    role="tabpanel"
                                                    class="tab-pane active in"
                                                    id="tab_content5"
                                                >
                                                    <div class="col-12">
                                                        {{ form_ticket.body|as_crispy_field }}
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div
                                                    role="tabpanel_3"
                                                    class="tab-pane"
                                                    id="tab_content6"
                                                    aria-labelledby="main-tab"
                                                >
                                                    <div class="col-12">
                                                        <div
                                                            id="id_ticket-body_preview"
                                                            style="background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; padding: 15px; width:auto;"
                                                            class="form-control"
                                                        ></div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>{% trans "labels_field" %}:</label>
                                    </div>
                                    <div class="col-12 mb-3">
                                        {{ form_ticket.labels }}
                                    </div>

                                    {% if actual_files %}
                                    {% include 'society_manager/includes/ticket_attachments.html' %}
                                    {% endif %}
                                    <div class="col-12">
                                        <label>{% trans "Attachments" %}:</label>
                                    </div>
                                    <div
                                        class="col-12"
                                        style="{% if form_attach.errors %}border: 1px solid #dc3545; border-radius: 0.25rem;{% endif %}"
                                    >
                                        <div class="form-group add_form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input
                                                        id="id_attach-file_name_1"
                                                        class="btn btn-sm text-left"
                                                        type="file"
                                                        name="attach-file_name_1"
                                                    >
                                                    <br />
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                        {% if form_attach.errors %}
                                        <div class="col-md-12">

                                            {% for field in form_attach %}
                                            {% if field.errors %}
                                            <span
                                                id="error_{{ forloop.counter }}"
                                                class="invalid-feedback"
                                                style="display:block; padding-left: 10px;"
                                            >
                                                <strong>{{ field.label|striptags }}: {{ field.errors|striptags }}</strong>
                                            </span>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <button class="btn btn-sm add_document"><i class="fa fa-plus"></i>
                                            {% trans "Add more" %}</button><br>
                                    </div>

                                    <!--comments part -->
                                    {% if form_ticket.instance.id %}

                                    <!--new messages-->

                                    {% endif %}
                                </div>
                            </div>
                            <!-- /Ticket body -->

                            <div class="tab-content-footer">
                                <div class="col-12 form-group">
                                    <div class="ln_solid"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--button add company-->
                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="tab_content2"
                        aria-labelledby="company-tab"
                    >
                        <div class="row">
                            <!--Status-->
                            <div class="tab-content-status">
                                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                    <br />
                                    <br />
                                    {% if not form_ticket.instance.id or not form_prospect.instance.id %}
                                    <button
                                        type="button"
                                        class="btn btn-primary btn-xs"
                                        data-toggle="modal"
                                        data-target="#company_modal"
                                    ><i class="fa fa-plus"></i>
                                        {% trans "Add new company" %}
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /Status -->

                            <!-- Company body -->
                            <div class="tab-content-body">
                                {% if not form_ticket.instance.id or not form_prospect.instance.id %}
                                <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                                    {{ form_ticket.assigned_company|as_crispy_field }}
                                </div>
                                {% else %}
                                <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                                    {% crispy form_prospect %}
                                    {% include 'society_manager/includes/prospect_payment_editable_form.html' %}
                                </div>
                                {% endif %}
                            </div>
                            <!-- Company body -->
                        </div>
                    </div>

                    {% if appsettings.show_microtasks and form_ticket.instance.id %}
                    <!--button add microtask-->
                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="tab_content3"
                        aria-labelledby="microtask-tab"
                    >
                        <button
                            type="button"
                            class="btn btn-primary btn-xs float-right"
                            data-toggle="modal"
                            data-target="#microtask_modal"
                        ><i class="fa fa-plus"></i>
                            {% trans "Add new microtask" %}
                        </button>

                        <!--table with microtasks-->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 20%">{% trans "Microtask name" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th style="width: 20%">{% trans "Project Progress" %}</th>
                                    <th>{% trans "Status" %}</th>
                                    <th style="width: 20%">{% trans "Edit" %}</th>
                                </tr>
                            </thead>
                            <tbody id="tblmicrotasks">
                                {% for mk in actual_microtasks %}
                                {% include 'society_manager/includes/ticket_microtask.html' %}
                                {% empty %}
                                <tr>
                                    <td colspan="6">{% trans "No microtasks available." %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if appsettings.show_log and form_ticket.instance.id %}
                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="tab_content4"
                        aria-labelledby="log-tab"
                    >
                        <div class="x_content">
                            <div class="col-sm-12">

                                {% for log_item in actual_logs %}
                                <div class="mail_list">
                                    <div class="right">
                                        <h3>{% if log_item.revision.user %} {{ log_item.revision.user }} {% else %}
                                            &nbsp;
                                            {% endif %}<small>{{ log_item.revision.date_created|localize }}</small></h3>
                                        <div class="col-md-4">
                                            {{ log_item.revision.comment }} ({{ log_item.object_repr|safe }}) =>
                                        </div>
                                        <div class="col-md-8">
                                            <pre><script type="text/javascript">
                                        var obj = {{ log_item.serialized_data|safe }};
                                        document.write(JSON.stringify(obj, null, 4));
                                    </script></pre>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </form>
            <!-- Include all templates for modal dialogs outside the ticket form. This prevents
                 unwanted behaviour with AJAX POST methods -->
            {% include "society_manager/tickets/create_modal_company.html" %}
            {% if form_ticket.instance.id %}
            {% include "society_manager/tickets/create_modal_microtask.html" %}
            {% include "society_manager/tickets/archive_modal_ticket.html" %}
            {% include "society_manager/tickets/send_modal_mail.html" with ticket_instance=form_ticket.instance %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
