{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load static i18n core_settings_data %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% if ticket_instance %}
<script>
    var render_mail_url = "{% url 'society_manager:tickets-render-mail' ticket_instance.id %}";

</script>
{% endif %}
{% endblock %}

{% block content %}
{% with request.resolver_match.kwargs.state_id as assigned_state %}
<div class="row">

    <div class="col-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>{% trans "List of tickets" %}</h2>
                <ul class="nav ml-auto panel_toolbox">
                    <li class="nav-item">
                        <select
                            class="form-control pointer"
                            id="id_status"
                            name="ticket-status"
                            onchange="javascript:location.href = this.value;"
                        >
                            <option
                                value="{% url 'society_manager:tickets-list' %}"
                                {% if not assigned_state %}
                                selected
                                {% endif %}
                            >
                                {% trans "Not closed" %}</option>
                            {% all_states as states %}
                            {% for state in states %}
                            <option
                                value="{% url 'society_manager:tickets-list-state' state.id %}"
                                {% if assigned_state == state.id|stringformat:'s' %}
                                selected
                                {% endif %}
                            >
                                {{ state.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- /.card-header -->

            <div class="x_content">
                {% if ticket_instance %}
                <!--data for Js scripts-->
                <input
                    type="hidden"
                    id="idTicket"
                    name="variable"
                    value="{{ ticket_instance.id }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-fsm_state"
                    name="ticket-fsm_state"
                    value="{{ ticket_instance.fsm_state }}"
                >
                <input
                    type="hidden"
                    id="id_ticket-needs_to_send_mail"
                    name="ticket-needs_to_send_mail"
                    value="{{ ticket_instance.needs_to_send_mail }}"
                >
                {% include "society_manager/tickets/send_modal_mail.html" with ticket_instance=ticket_instance %}
                {% endif %}
                <div class="table">
                    {% include 'society_manager/includes/ticket_datatable.html' %}
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endwith %}
{% endblock %}
