{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}

{% load i18n core_settings_data %}

<div
    aria-hidden="true"
    role="dialog"
    tabindex="-1"
    class="modal fade bs-send-mail-modal-lg"
    style="display: none;"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    data-dismiss="modal"
                    class="close"
                    type="button"
                ><span aria-hidden="true">×</span>
                </button>
                <h4
                    id="myModalLabel"
                    class="modal-title"
                >{% trans "Send E-Mail" %}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{% trans "To" %}:</label>
                    <div class="">
                        <input
                            id="to-input"
                            type="text"
                            class="input Input form-control"
                            value=''
                        ></input>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading mb-2">
                            <strong class="panel-title">
                                <a
                                    data-toggle="collapse"
                                    href="#cc-bcc-collapse"
                                >+ {% trans "More recipients" %}</a>
                            </strong>
                        </div>
                        <div
                            id="cc-bcc-collapse"
                            class="panel-collapse collapse"
                        >
                            <div class="form-group">
                                <label>{% trans "CC" %}:</label>
                                <div class="">
                                    <input
                                        id="cc-input"
                                        type="text"
                                        class="input Input form-control"
                                        value=''
                                    ></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{% trans "BCC" %}:</label>
                                <div class="">
                                    <input
                                        id="bcc-input"
                                        type="text"
                                        class="input Input form-control"
                                        value=''
                                    ></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{% trans "subject_field" %}:</label>
                    <div class="">
                        <input
                            id="subject-input"
                            type="text"
                            class="input Input form-control"
                            value=''
                        ></input>
                    </div>
                </div>
                <div class="form-group">
                    <label>{% trans "Message" %}:</label>
                    <div class="">
                        <textarea
                            id="body-plain-input"
                            class="input Input form-control"
                            style="min-height: 240px;"
                            readonly
                        >
                        </textarea>
                        <textarea
                            id="body-html-input"
                            style="display: none;"
                            readonly
                        ></textarea>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading mb-2">
                            <strong class="panel-title">
                                <a
                                    data-toggle="collapse"
                                    href="#attachment-collapse"
                                >+ {% trans "Attachments" %}</a>
                            </strong>
                        </div>
                        <div
                            id="attachment-collapse"
                            class="panel-collapse collapse"
                        >
                            <div class="d-flex flex-row align-items-start flex-wrap">
                                {% for file in actual_files %}
                                <div class="form-row flex-item w-50 pl-1">
                                    <label><input
                                            id="attachment_{{ forloop.counter }}"
                                            type="checkbox"
                                            style="margin-right: 5px;"
                                            value="{{ file.file_name }}"
                                        >{{ file.file_name|filename_text }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <label><input
                        href="{% url 'society_manager:tickets-ignore-mail' ticket_instance.id %}"
                        type="checkbox"
                        style="margin-right: 5px;"
                        class="ignore-mail"
                    >{% trans "Ignore mail notification"%}</label>
                <button
                    data-dismiss="modal"
                    class="btn btn-secondary btn-sm"
                    type="button"
                >{% trans "Cancel" %}</button>
                <button
                    href="{% url 'society_manager:tickets-send-mail' ticket_instance.id %}"
                    type="submit"
                    class="message-to-mail btn btn-danger btn-sm"
                ><i class="fa fa-envelope"></i> {% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>
