{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load l10n i18n static string_extensions core_settings_data crispy_forms_tags blog_tags %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% if form_ticket.instance.id %}
<script>
    // set urls for AJAX calls
    var set_percentage_url = "{% url 'society_manager:tickets-set-percentage' form_ticket.instance.id %}";
    var get_percentage_url = "{% url 'society_manager:tickets-get-percentage' form_ticket.instance.id %}";
    var get_comments_url = "{% url 'society_manager:tickets-get-comments' form_ticket.instance.id %}";
    var add_comment_url = "{% url 'society_manager:tickets-add-comment' form_ticket.instance.id %}";
    var render_mail_url = "{% url 'society_manager:tickets-render-mail' form_ticket.instance.id %}";
    var archive_comment_url = "{% url 'society_manager:tickets-archive-comment' %}";

</script>
{% endif %}
{% endblock %}

{% block title %}
{% trans "Ticket" %}: #{{ form_ticket.instance.nr }} / {% trans "subject_field" %}: {{ form_ticket.instance.subject }}
{% endblock %}

{% block content %}
{% site_vars as vars %}
{% app_settings as appsettings %}

<div class="x_panel">
    <div class="x_title">
        <h2>{% trans "Ticket" %} #{{ form_ticket.instance.nr }} / {% trans "subject_field" %}: {{ form_ticket.instance.subject }}
            {% if form_ticket.instance.needs_to_send_mail %}
            <i
                data-target=".bs-send-mail-modal-lg"
                data-toggle="modal"
                class="message-to-mail text-danger fa fa-paper-plane"
                title="{% trans "Mail wasn't sent to prospect yet!" %}"
            ></i>
            {% endif %}
        </h2>
        {% if can_edit %}
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-right: 5px"
            href="{% url 'society_manager:tickets-edit' form_ticket.instance.id %}"
        >
            {% trans "Edit" %}</a>
        {% endif %}
        <a
            class="btn btn-secondary btn-sm float-right"
            style="margin-left: 5px"
            href="{% url 'society_manager:tickets-list' %}"
        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div
            class=""
            role="tabpanel"
            data-example-id="togglable-tabs"
        >
            <ul
                id="myTab"
                class="nav nav-tabs bar_tabs"
                role="tablist"
            >
                <li
                    role="presentation"
                    class="nav-item active"
                ><a
                        href="#tab_content1"
                        id="main-tab"
                        role="tabpanel"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Main" %}</a>
                </li>
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content2"
                        role="tabpanel"
                        id="company-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Company" %}</a>
                </li>
                {% if appsettings.show_microtasks and form_ticket.instance.id %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content3"
                        role="tabpanel"
                        id="microtask-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Microtasks" %}</a>
                </li>
                {% endif %}
                {% if appsettings.show_log and form_ticket.instance.id %}
                <li
                    role="presentation"
                    class="nav-item"
                ><a
                        href="#tab_content4"
                        role="tabpanel"
                        id="log-tab"
                        data-toggle="tab"
                        aria-expanded="false"
                    >{% trans "Log" %}</a>
                </li>
                {% endif %}
            </ul>

            <div
                id="myTabContent"
                class="tab-content"
            >
                <div
                    role="tabpanel"
                    class="tab-pane fade active in"
                    id="tab_content1"
                    aria-labelledby="main-tab"
                >
                    <div class="row">
                        {% if form_ticket.instance.id %}
                        <form
                            id="ticketform"
                            method='post'
                            action="{% url 'society_manager:tickets-edit' form_ticket.instance.id %} {% else %} {% url 'society_manager:tickets-create' %} {% endif %}"
                            role="form"
                            enctype="multipart/form-data"
                            novalidate
                        >{% csrf_token %}
                            <!--usefull for JS scripts-->
                            <input
                                type="hidden"
                                id="idTicket"
                                name="variable"
                                value="{{ form_ticket.instance.id }}"
                            >
                            <input
                                type="hidden"
                                id="id_ticket-fsm_state"
                                name="ticket-fsm_state"
                                value="{{ form_ticket.instance.fsm_state }}"
                            >
                            <input
                                type="hidden"
                                id="id_ticket-can_send_mail"
                                name="ticket-can_send_mail"
                                value="{{ form_ticket.instance.can_send_mail }}"
                            >
                            <input
                                type="hidden"
                                id="id_ticket-percentage"
                                name="ticket-percentage"
                                value="{{ form_ticket.instance.percentage }}"
                            >
                            <input
                                type="hidden"
                                id="count_microtask"
                                name="variable"
                                value="{{ actual_microtasks.count }}"
                            >

                            <!--Left side-->
                            {% if vars.debug == True %}

                            {% if form_ticket.errors %}
                            <div class="alert alert-danger">
                                {% trans "Main form" %}: </p>
                                {% for fticket_error in form_ticket %}
                                {% if fticket_error.errors %}
                                <ul>
                                    <li>{{ fticket_error.label|striptags }} =>
                                        <b>{{ fticket_error.errors|striptags }}</b>
                                    </li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            {% if form_attach.errors %}
                            <div class="alert alert-warning">
                                {% trans "Attach form" %}: </p>
                                {% for fattach_error in form_attach %}
                                {% if fattach_error.errrors %}
                                [ {{ fattach_error.label|striptags }} => <b>{{ fattach_error.errors|striptags }}</b>
                                ]
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endif %}

                            <!--Status-->
                            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                <div class="col-12">
                                    <label class="pull-center">{% trans "assigned_queue_field" %}</label>
                                </div>
                                <div class="col-12">
                                    {% all_queues_for_user "cv_cc" as queues %}
                                    {% for queue in queues %}
                                    {% if queue.id == form_ticket.instance.assigned_queue.id %}
                                    <input
                                        class="form-control pointer"
                                        id="id_ticket-assigned_queue"
                                        name="ticket-assigned_queue"
                                        value="{{ queue }}"
                                        disabled
                                    >
                                    {% endif %}
                                    {% endfor %}

                                    </select>
                                </div>

                                <div class="col-12">
                                    <label class="pull-center">{% trans "assigned_state_field" %}</label>
                                </div>
                                <div class="col-12 ">
                                    {% for status in common_data.status_info %}
                                    {% if status.id == form_ticket.instance.assigned_state.id %}
                                    <input
                                        class="form-control pointer"
                                        id="id_ticket-assigned_state"
                                        name="ticket-assigned_state"
                                        value="{{ status }}"
                                        disabled
                                    >
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                {% if form_ticket.instance.assigned_state.shortcode == 'is_pending' %}
                                <div class="col-12">
                                    <label class="pull-center">{% trans "pending_field" %}</label>
                                </div>
                                <div class="col-12">
                                    <input
                                        id="id_ticket-pending"
                                        name="ticket-pending"
                                        class="form-control"
                                        value="{{ form_ticket.instance.pending|localize }}"
                                        disabled
                                    >
                                </div>
                                {% endif %}

                                <div class="col-12 ">
                                    <label class="pull-center">{% trans "created_field" %}</label>
                                </div>
                                <div class="col-12 ">
                                    <input
                                        id="id_ticket-date_disabled"
                                        name="ticket-date"
                                        class="form-control"
                                        value="{{ form_ticket.instance.created|localize }}"
                                        disabled
                                    />
                                </div>

                                <div class="col-12 ">
                                    <label class="pull-center">{% trans "create_user_field" %}</label>
                                </div>
                                <div class="col-12 ">
                                    <input
                                        class="form-control"
                                        value="{{ form_ticket.instance.str_create_user }}"
                                        disabled
                                    />
                                </div>

                                <div class="col-12 ">
                                    <label class="pull-center">{% trans "assigned_prio_field" %}</label>
                                </div>
                                <div class="col-12">
                                    {% for prio in common_data.prio_info %}
                                    {% if prio.id == form_ticket.instance.assigned_prio.id %}
                                    <input
                                        class="form-control pointer"
                                        value="{{ prio }}"
                                        disabled
                                    >
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="col-12 ">
                                    <label class="pull-center">{% trans "assigned_user_field" %}</label>
                                </div>
                                <div class="col-12 form-group">
                                    {% if not form_ticket.instance.assigned_user %}
                                    <input
                                        class="form-control pointer"
                                        value="--"
                                        disabled
                                    >
                                    {% else %}
                                    {% for user_resp in common_data.users_info %}
                                    {% if user_resp.id == form_ticket.instance.assigned_user.id %}
                                    <input
                                        class="form-control pointer"
                                        value="{% if user_resp.first_name and user_resp.last_name %} {{ user_resp.first_name }} {{ user_resp.last_name }} {% else %} {{ user_resp.email }} {% endif %}"
                                        disabled
                                    >
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-12 ">
                                    <label class="pull-center">{% trans "percentage_field" %}</label>
                                </div>
                                <div class="col-12 form-group">
                                    {% if form_ticket.instance.id %}
                                    <input
                                        type="text"
                                        name="percentage"
                                        id="percentage"
                                        class="range_base_ticket"
                                        value=""
                                        disabled
                                    >
                                    {% else %}
                                    <input
                                        type="text"
                                        name="percentage"
                                        id="percentage"
                                        class="range_base_ticket_for_submit"
                                        value=""
                                        disabled
                                    >
                                    {% endif %}
                                </div>
                            </div>

                            <!--Ticket body-->
                            <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                                <!--only in mobile/ipad setup-->

                                <!--end-->

                                <div class="col-12 form-group">
                                    <label>{% trans "Description" %}:</label>
                                </div>
                                <div class="col-12 form-group">
                                    <div
                                        class="content-markdown-old"
                                        style="background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; padding: 15px;"
                                    >
                                        {% if form_ticket.instance.body %}
                                        {{ form_ticket.instance.body }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12 form-group">
                                    <label>{% trans "labels_field" %}:</label>
                                </div>
                                <div class="col-12 form-group">
                                    {% for label in form_ticket.instance.get_label_list|split:',' %}
                                    {% if label != "" %}
                                    <a href="{% url 'society_manager:tickets-list-label' label|escape_raw %}">
                                        <span class="tag">
                                            <span>{{ label }}</span>
                                        </span>
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <div style="padding-left:10px; font-size:11px;">
                                    {% if form_ticket.instance.updated != form_ticket.instance.created %}
                                    {% trans "Last modified" %}: {{ form_ticket.instance.updated|localize }}
                                    {% endif %}</div>
                                <hr>

                                {% if actual_files %}
                                {% include 'society_manager/includes/ticket_attachments.html' %}
                                {% endif %}

                                <!--only in mobile/ipad setup-->

                                <!--end-->
                                <!--comments part -->
                                {% if form_ticket.instance.id %}

                                <!--new messages-->
                        </form>
                        <div class="col-12 form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="widget-area1 no-padding blank">
                                        <div class="status-upload">
                                            <form>
                                                <textarea
                                                    placeholder="{% trans 'What are you doing right now?' %}"
                                                    name="message_data"
                                                    class="form-control"
                                                    id="message_data"
                                                    style="resize: none;"
                                                ></textarea>
                                                <div class="form-group row align-items-center pr-2">
                                                    <button
                                                        type="submit"
                                                        class="add-message btn btn-success float-right"
                                                        style="margin: 0 5px 5px 0;"
                                                    ><i class="fa fa-share"></i> {% trans "Internal comment" %}</button>
                                                    <button
                                                        type="button"
                                                        data-target=".bs-send-mail-modal-lg"
                                                        data-toggle="modal"
                                                        data-ticket-state="view"
                                                        class="message-to-mail btn btn-success float-right"
                                                        style="margin: 0 5px 5px 0;"
                                                    ><i class="fa fa-envelope"></i> {% trans "Send as Mail" %}</button>
                                                    <select
                                                        id="message_template"
                                                        class="form-control-sm float-right"
                                                        style="margin: 1px 5px 0 0; width: 30%"
                                                    >
                                                        <option
                                                            value=""
                                                            selected="selected"
                                                        >{% trans "Standard Template" %}</option>
                                                        {% for item in common_data.mail_templates %}
                                                        <option value="{{ item.name }}">{{ item.content_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </form>
                                        </div><!-- Status Upload  -->
                                    </div><!-- Widget Area -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-sm-12 comment_box form-group">
                            {% for comm in actual_comments %}
                            {% include 'society_manager/includes/ticket_comment.html' %}
                            {% endfor %}
                        </div><!-- /container -->
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 form-group">
                    <div class="ln_solid"></div>
                </div>
            </div>

            <!--button add company-->
            <div
                role="tabpanel"
                class="tab-pane fade"
                id="tab_content2"
                aria-labelledby="company-tab"
            >
                <div class="row">
                    <!--Status-->
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    </div>
                    <!-- Ticket body -->
                    {% if not form_ticket.instance.id or form_ticket.assigned_company.value == None %}
                    <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                        <br />
                        <p>{% trans "No company assigned." %}</p>
                    </div>
                    {% else %}
                    <div class="col-md-10 col-sm-12 col-xs-12 form-group">
                        {% crispy form_prospect %}
                        {% include 'society_manager/includes/prospect_payment_readonly_form.html' %}
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if appsettings.show_microtasks and form_ticket.instance.id %}
            <!--button add microtask-->
            <div
                role="tabpanel"
                class="tab-pane fade"
                id="tab_content3"
                aria-labelledby="microtask-tab"
            >
                <!--modal microtask-->

                <!--table with microtasks-->
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">{% trans "Microtask name" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th style="width: 20%">{% trans "Project Progress" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th style="width: 20%">{% trans "Edit" %}</th>
                        </tr>
                    </thead>
                    <tbody id="tblmicrotasks">
                        {% for mk in actual_microtasks %}
                        {% include 'society_manager/includes/ticket_microtask.html' %}
                        {% empty %}
                        <tr>
                            <td colspan="6">{% trans "No microtasks available." %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if appsettings.show_log and form_ticket.instance.id %}
            <div
                role="tabpanel"
                class="tab-pane fade"
                id="tab_content4"
                aria-labelledby="log-tab"
            >
                <div class="x_content">
                    <div class="col-sm-12">

                        {% for log_item in actual_logs %}
                        <div class="mail_list">
                            <div class="right">
                                <h3>{% if log_item.revision.user %} {{ log_item.revision.user }} {% else %} &nbsp;
                                    {% endif %}<small>{{ log_item.revision.date_created|localize }}</small></h3>
                                <div class="col-md-4">
                                    {{ log_item.revision.comment }} ({{ log_item.object_repr|safe }}) =>
                                </div>
                                <div class="col-md-8">
                                    <pre><script type="text/javascript">
                                        var obj = {{ log_item.serialized_data|safe }};
                                        document.write(JSON.stringify(obj, null, 4));
                                    </script></pre>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <br />
                        <p>{% trans "No log entries available." %}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Include all templates for modal dialogs outside the ticket form. This prevents
                 unwanted behaviour with AJAX POST methods -->
    {% if form_ticket.instance.id %}
    {% include "society_manager/tickets/create_modal_microtask.html" %}
    {% include "society_manager/tickets/archive_modal_comment.html" %}
    {% include "society_manager/tickets/send_modal_mail.html" with ticket_instance=form_ticket.instance %}
    {% endif %}
</div>
</div>
{% endblock %}
