{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load i18n static core_settings_data %}

{% block extend_css %}
{% endblock %}

{% block extend_js %}
{% endblock %}

{% block content %}
{% site_vars as vars %}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-gear fa-fw"></i> {% trans "Manage application settings" %}</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        {% if vars.debug == True%}
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
        {% endif %}

        <form
            id="appsettingsform"
            method='post'
            action="{% url 'society_manager:appsettings-save' %}"
            role="form"
            novalidate
        >{% csrf_token %}
            <br />
            {% for key, value in settings.json|sort %}
            {% if value.items %}
            <br />
            <h6>{{ key }}</h6>
            {% for sub_key, sub_value in value|sort %}
            <div
                id="div_id_{{ key }}-{{ sub_key }}"
                class="form-group"
            >
                <label
                    class="col-form-label requiredField"
                    for="id_{{ key }}-{{ sub_key }}"
                    style="display:none;"
                >{{ sub_key }}</label>
                <div class="">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ sub_key }}</span>
                        </div>
                        <input
                            id="id_{{ key }}-{{ sub_key }}"
                            class="form-control"
                            type="{{ sub_value|get_type }}"
                            name="{{ key }}-{{ sub_key }}"
                            {% if sub_value|get_type != 'checkbox' %}value="{{ sub_value }}"{% endif %}
                            {% if sub_value|get_type == 'checkbox' and sub_value %}checked{% endif %}
                            style="{% if sub_value|get_type == 'checkbox' %}max-width: 50px;margin: 11px 0 11px 11px;{% endif %}"
                            required=""
                        >
                        </input>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div
                id="div_id_{{ key }}"
                class="form-group"
            >
                <label
                    class="col-form-label requiredField"
                    for="id_{{ key }}"
                    style="display:none;"
                >{{ key }}</label>
                <div class="">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ key }}</span>
                        </div>
                        <input
                            id="id_{{ key }}"
                            class="form-control"
                            type="{{ value|get_type }}"
                            name="{{ key }}"
                            {% if value|get_type != 'checkbox' %}value="{{ value }}"{% endif %}
                            {% if value|get_type == 'checkbox' and value %}checked{% endif %}
                            style="{% if value|get_type == 'checkbox' %}max-width: 50px;margin: 11px 0 11px 11px;{% endif %}"
                            required=""
                        >
                        </input>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <!--line separator for buttons -->
            <div class="row">
                <div class="">
                    <div class="form-group">
                        <!--submit-->

                        <div class="ln_solid"></div>
                        <a
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-left: 20px"
                            href="{% url 'society_manager:tickets-settings' %}"
                        ><i class="fa fa-angle-left"></i> {% trans "Back" %}</a>
                        <button
                            class="btn btn-secondary btn-sm float-left"
                            style="margin-right: 20px"
                            type="submit"
                        >{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
