{% extends "society_manager/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.

Credit for contents of this file goes to the project https://github.com/sabueso/ticketator!
{% endcomment %}


{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-lg-22">
        <h1 class="page-header"><i class="fa fa-gear fa-fw"></i> {% trans "Settings" %}</h1>
    </div>
    <!-- /.col-lg-22 -->
</div>

<div class="row ">
    {% if request.user.is_superuser == True or request.user.profile_society_manager.status_rel.status == "Manager" %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:countries-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4>{% trans "Countries" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:services-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4>{% trans "Services" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:basic-subscriptions-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h5>{% trans "Basic Subscriptions" %}</h5>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:enrollment-fees-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4>{% trans "Enrollment Fees" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:payment-types-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4>{% trans "Payment Types" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:payment-intervals-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4>{% trans "Payment Intervals" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #ddd;">
            <a href="{% url 'society_manager:membership-types-list' %}">
                <span class="feature-icon"><i class="fa fa-database"></i></span>
                <h4 style="margin-left: -10px;">{% trans "Membership Types" %}</h4>
                <span>{% trans "Master data" %}</span>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:user-list' %}">
                <span class="feature-icon"><i class="fa fa-user"></i></span>
                <h4>{% trans "Users" %}</h4>
                <span>{% trans "Manage users" %}</span>
            </a>
        </div>
    </div>

    {% if request.user.is_superuser == True %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:group-list' %}">
                <span class="feature-icon"><i class="fa fa-users"></i></span>
                <h4>{% trans "Groups" %}</h4>
                <span>{% trans "Manage groups" %}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:queue-list' %}">
                <span class="feature-icon"><i class="fa fa-th-list"></i></span>
                <h4>{% trans "Queues" %}</h4>
                <span>{% trans "Manage queues for tickets" %}</span>
            </a>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:right-list' %}">
                <span class="feature-icon"><i class="fa fa-file-code-o"></i></span>
                <h4>{% trans "Rights" %}</h4>
                <span>{% trans "Manage rights for queues" %}</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:state-list' %}">
                <span class="feature-icon"><i class="fa fa-flag-o fa-fw"></i></span>
                <h4>{% trans "States" %}</h4>
                <span>{% trans "Manage states for tickets" %}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:priority-list' %}">
                <span class="feature-icon"><i class="fa fa-warning"></i></span>
                <h4>{% trans "Priorities" %}</h4>
                <span>{% trans "Manage priorities for tickets" %}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box">
            <a href="{% url 'society_manager:appsettings-view' %}">
                <span class="feature-icon"><i class="fa fa-gear fa-fw"></i></span>
                <h4>{% trans "App Settings" %}</h4>
                <span>{% trans "Manage application settings" %}</span>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box" style="background-color: #e55c3c;">
            <a href="{% url 'admin:index' %}">
                <span class="feature-icon"><i class="fa fa-external-link"></i></span>
                <h4>{% trans "Admin Site" %}</h4>
                <span>{% trans "Enter Admin Site" %}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
